{% extends 'base_layout.html' %}
{% block content %}

    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}

  <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        Ek Süre Ekle - {{ yeka.definition }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Ek Zaman Ekle</a></li>
                        {#              <li class="breadcrumb-item active">Advanced Form</li>#}
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section class="content">

        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">{{ yekabussinessblog.businessblog.name }}</h3>


                        </div>
                        <div class="card-body">
                            <div class="card-body">


                                <div class="form-group">
                                    {{ extratime_form }}
                                </div>

                            </div>

                            <div class="card-footer">
                                <button class="btn btn-outline-primary" type="submit" style="float:right">Kaydet
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">Ek Süreler </h3>

                        </div>

                        <div class="card-body">
                            <table id="company" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Firmalar</th>
                                    <th>Ek Süre Ekleyen Personel</th>
                                    <th>Ek Süre</th>
                                    <th>Ekleme Tarihi</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for time in extra_times %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>
                                            {% for company in  time.yekabusinessblog.companys.all %}
                                                {{ company.name }}/
                                            {% endfor %}
                                        </td>
                                        <td>{{ time.user.first_name }} {{ time.user.last_name }}</td>
                                        <td>{{ time.time }}</td>
                                        <td>{{ time.creationDate }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default">İşlemler</button>
                                                <button type="button"
                                                        class="btn btn-default dropdown-toggle dropdown-icon"
                                                        data-toggle="dropdown">
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    {% for item in perm %}
                                                        {% if item == 'change_extratime' %}
                                                            <a href="{% url 'ekabis:change_extratime' time.uuid %}"
                                                               class="dropdown-item"> <i
                                                                    class="fa fa-edit" title="Düzenle"></i> Düzenle
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for item in perm %}
                                                        {% if item == 'delete_extratime' %}

                                                            <a class="dropdown-item" href=""
                                                               data-toggle="modal"
                                                               onclick=deleteExtraTime('{{ time.uuid }}')><i
                                                                    class="fa fa-trash"></i>Sil</a>

                                                        {% endif %}
                                                    {% endfor %}

                                                </div>
                                            </div>


                                        </td>
                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </form>


    </section>
    {% load static %}
    <script>
        $(function () {
            $('#company').DataTable({
                dom: 'Bfrtip',

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],
                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Ek Süreler',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet'
                    },


                ],
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
                'language': {
                    "url": "{% static 'datatable_tr.json' %}"
                }
            })

        })

        function deleteExtraTime(id) {
            debugger;
            console.log(id);
            var html = ''
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "{% url "ekabis:delete_extratime" %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            uuid: id,
                        },
                        success: function (result) {

                            html = 'Ek Süre Başarıyla Silindi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "ekabis:view_extratime" %}");

                                });

                            }).modal('show');

                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-active').modal('hide');
            });

        }
    </script>
    <script>
        $(document).ready(function () {
            {% if error_messages  %}
                errors_messages({{ error_messages |safe }})
            {% endif %}
        });
    </script>

{% endblock %}


