<section class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="error-page">
                        <h1>
                            :) Oops!</h1>
                        <h2>
                            Temporarily down for maintenance</h2>
                        <h1>
                            We’ll be back soon!</h1>
                        <div>
                            <p>
                                Sorry for the inconvenience but we’re performing some maintenance at the moment.
                                we’ll be back online shortly!</p>
                            <p>
                                — The Team</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>


</section>


