{% extends 'base_layout.html' %}
{% block content %}

    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}
    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                <div class="row">
                      <div class="col-lg-6">

                    <select required class="select2 select2-hidden-accessible"
                            data-placeholder="Firma Seçin"
                            data-dropdown-css-class="select2-purple"
                            style="width: 100%;" id="region_capacity" name="region_capacity"
                            data-select2-id="15" tabindex="-1" aria-hidden="true">
                        {% for company in companies %}

                            <option data-select2-id="{{ company.uuid }}"
                                    value="{{ company.uuid }}">{{ company.name }}</option>

                        {% endfor %}
                    </select></div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="percent" placeholder="Katılım Yüzdesi %">
                    </div>
                </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <section class="content-header">

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        Konsorsiyum Ekle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section class="content">

        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">Konsorsiyum Bilgileri</h3>
                        </div>
                        <div class="card-body">

                            {% for item in company_form %}
                                <div class="form-group">
                                    {% if item.is_active %}
                                        <small style="color: red">*</small>
                                    {% endif %}
                                    <label>{{ item.label }}</label><br>

                                    {{ item }}
                                    <label for="" id="label_{{ item.name }}"></label>
                                </div>
                            {% endfor %}

                        </div>


                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">İletişim Bilgileri</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label> {{ communication_form.phoneNumber.label }}</label>
                                        {{ communication_form.phoneNumber }}
                                        <label for="" id="label_phoneNumber"></label>


                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.phoneNumber2.label }}</label>
                                        {{ communication_form.phoneNumber2 }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ communication_form.country.label }}</label>
                                        {{ communication_form.country }}
                                        <label for="" id="label_country"></label>

                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.city.label }}</label>
                                        {{ communication_form.city }}
                                        <label for="" id="label_city"></label>


                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.postalCode.label }}</label>
                                        {{ communication_form.postalCode }}
                                        <label for="" id="label_postalCode"></label>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> {{ communication_form.address.label }}</label>
                                        {{ communication_form.address }}
                                        <label for="" id="label_address"></label>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">

                            <button class="btn btn-outline-primary" type="submit" style="float:right">Kaydet
                            </button>

                        </div>


                    </div>
                </div>


            </div>


        </form>


    </section>


    <script type="text/javascript">

        $(document).ready(function () {

            $('#id_isFormal').change(function () {
                selected = $("#id_isFormal option:selected").text();
                if (selected == 'Kurumsal') {
                    $('#labelTaxNumber').html('Vergi Numarası');
                } else {
                    $('#labelTaxNumber').html('TC Kimlik Numarasi');
                }


            });

            {% if error_messages %}

                let messages ={{ error_messages | safe }}
                if (messages !== '') {
                    errors_messages({{ error_messages |safe }})
                }
            {% endif %}
        });

        function AddCompany(id) {
            debugger;
            console.log(id);
            var html = ''
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            uuid: id,
                        },
                        success: function (result) {

                            html = 'Firma Başarıyla Silindi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "ekabis:view_company" %}");

                                });

                            }).modal('show');

                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-delete').modal('hide');
            });

        }
    </script>


{% endblock %}


