{% extends 'base_layout.html' %}

{% block content %}


    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-active"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Kullanıcı durumunu değiştirmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="toast-container" class="toasts-top-right">

        <div class="toast toast-error error" aria-live="polite" style="display: none" id="error_toast">
            <div class="toast-message" id="error_message">

            </div>
        </div>


    </div>

    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}


    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        Firma Kullanıcı Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section class="content">

        <div class="row">

            <section class="col-lg-12 ">


                <div class="card-body">

                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">Kullanıcı Listesi</h3>

                        </div>

                        <div class="card-body">
                            <table id="company_user" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ad Soyad</th>
                                    <th>Telefon</th>
                                    <th>Email</th>
                                    <th>Kullanıcı Durumu</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for company_user in company.companyuser.all %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ company_user.user.first_name }} {{ company_user.user.last_name }} </td>
                                        <td>{{ company_user.communication.phoneNumber }}</td>
                                        <td>{{ company_user.user.email }} </td>
                                        {% if company_user.user.is_active %}
                                            <td>
                                                <a onclick="activeUser({{ company_user.user.pk }})" type="button"
                                                   class="btn bg-gradient-success btn-sm">Aktif
                                                </a>
                                            </td>
                                        {% else %}
                                            <td>
                                                <a onclick="activeUser({{ company_user.user.pk }})" type="button"
                                                   class="btn bg-gradient-danger btn-sm">Pasif
                                                </a>
                                            </td>


                                        {% endif %}
                                        <td>
                                            <div class="btn-group">

                                                <button type="button"
                                                        class="btn btn-default dropdown-toggle dropdown-icon"
                                                        data-toggle="dropdown"> İşlemler
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    {% for item in perm %}
                                                        {% if item == 'assigment_company_user' %}
                                                            <a href="{% url "ekabis:assigment_company_user" company.uuid %}"
                                                               type="button" class="dropdown-item"
                                                               style="float: right"><i
                                                                    class="fa fa-plus"
                                                                    title="Firma Kullanıcı Görevlendirme"></i>Kullanıcı Görevlendirme
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}


                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>
            </section>


        </div>

    </section>
    {% load static %}
    <script>
        $(function () {

            debugger;
            $('#company_user').DataTable({
                dom: 'Bfrtip',


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Yeka Firmaları',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet'
                    },


                ],
                "search": {
                    "caseInsensitive": true,
                },
                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },
                'bubble': true,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
                'select': true,
            })


        })


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>
    <script>
        function deleteCompany(id) {
            debugger;
            console.log(id);
            var html = ''
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "{% url "ekabis:delete_company" %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            uuid: id,
                        },
                        success: function (result) {
                            if (result.status === 'Success') {
                                html = 'Firma Başarıyla Silindi';
                                debugger;
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "ekabis:view_company" %}");

                                    });

                                }).modal('show');
                            } else {
                                debugger;
                                let toast = document.getElementById('error_message');
                                html = 'Bu Firma Silinemez';
                                toast.innerHTML = html;
                                document.getElementById('error_toast').style.display = 'block';
                                $('.error').toast('show');
                                $('.toast').fadeOut(5000);


                            }

                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-delete').modal('hide');
            });

        }

        function activeUser(id) {

            console.log(id);
            var html = ''
            $("#modal-active").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "{% url "ekabis:view_status" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Kullanıcı Durumu Değiştirildi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "ekabis:view_company" %}")


                                });

                            }).modal('show');
                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-active').modal('hide');
            });

        }
    </script>



{% endblock %}

