{% extends 'base_layout.html' %}
{% block content %}

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}



    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{ aktif }}-
                        Grup Güncelle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Grup Güncelle</a></li>
                        {#              <li class="breadcrumb-item active">Advanced Form</li>#}
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section class="content">


        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}

            <div class="card card-secondary">
                <div class="card-header">

                    <h3 class="card-title">Grup</h3>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>   {{ group_form.name.label }}</label>
                                {{ group_form.name }}
                                <label id="label_name"></label>

                            </div>

                            <div class="form-group clearfix">
                                <label>    {{ group_form.permissions.label }}</label>
                                {% for perm in group_form.permissions %}
                                    <div class="custom-control custom-checkbox">
                                        {{ perm }}

                                    </div>


                                {% endfor %}
                            </div>

                            <div class="card-footer">
                                <button class="btn btn-primary pull-right" type="submit">Kaydet</button>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </form>


    </section>

    <script>
        $(document).ready(function () {

            debugger;
            let messages =
            {{ error_messages | safe }}
            if (messages !== '') {
                errors_messages({{ error_messages |safe }})
            }
        });
    </script>

{% endblock %}


