{% extends 'base_layout.html' %}
{% block content %}
    {% load static %}
    <script src="{% static 'vis/dist/cytoscape.min.js' %}"></script>
    <script src="{% static 'vis/dist/cytoscape-cxtmenu.js' %}"></script>
    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Yeka Yarışmasını Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-danger fade in node" tabindex="-1" role="dialog" id="modal-detail"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header primary" id="block_title">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body" id="">
                    <div class="card">
                        <div class="card-header" id="block_header">
                        </div>
                        <!-- /.card-header -->
                        <div class="row card-body" id="block_detail">

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-success modal-success-food fade in" id="modal-error" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body errorModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}

    <style>


        #cy {
            width: 100%;
            height: 100%;
            display: block;
        }


        /* you can set the disabled style how you like on the text/icon */
        .cxtmenu-disabled {
            opacity: 0.333;
        }
    </style>

    <script>

        window.addEventListener('DOMContentLoaded', function () {
            debugger;
            var demoNodes = [];
            var demoEdges = [];
            {% for blok in bloks %}
                demoNodes.push({

                    data: {
                        id: '{{ blok.yekabusinessblog.id }}',
                        name: '{{ blok.yekabusinessblog.businessblog.name }}'+' '+'{{ blok.yekabusinessblog.startDate.date }}',
                        yeka: '{{ blok.yeka }}',
                        business: '{{ yeka.business.uuid }}',
                        yekabusinessblog: '{{ blok.yekabusinessblog.uuid }}',
                        businessblog: '{{ blok.businessblog }}',
                        startDate: '{{ blok.yekabusinessblog.startDate.date }}',
                        finishDate: '{{ blok.yekabusinessblog.finisDate.date }}',
                        businessTime: '{{ blok.yekabusinessblog.businessTime }}',
                        time_type: '{{ blok.yekabusinessblog.time_type }}',
                        status: '{{ blok.yekabusinessblog.status }}',

                    },

                });
            {% endfor %}
            {% for item in yekabusinessbloks %}
                {% if item.dependence_parent %}
                    demoEdges.push({

                        data: {
                            source: '{{item.dependence_parent.id}}',
                            target: '{{ item.id}}',
                            label: '{{ item.startDate.date  | date:"d/m/Y" }}' + '     →    ' + '{{ item.finisDate.date  | date:"d/m/Y" }}',
                        }
                    });
                {% endif %}

            {% endfor %}



            debugger;

            var cy = window.cy = cytoscape({

                container: document.getElementById('cy'),

                ready: function () {
                },
                minZoom: 0.1,
                maxZoom: 3,
                zoom: 0.5,
                style: [
                    {
                        selector: 'node',
                        css: {
                            'background-color': '#078bff',
                            'content': 'data(name)',
                            'text-valign': 'top',
                            'color': 'black',

                            "text-wrap": "wrap",
                            "text-max-width": 80
                        }
                    },
                    {
                        selector: 'node[status = "2"]',
                        css: {
                            'background-color': '#ff0000',

                        }
                    },
                    {
                        selector: 'node[status = "1"]',
                        css: {
                            'background-color': '#28a745',

                        }
                    },
                    {
                        selector: 'node[status="3"]',
                        css: {
                            'background-color': '#ffc107',

                        }
                    },

                    {
                        selector: 'edge',
                        css: {
                            'curve-style': 'bezier',
                            'target-arrow-shape': 'triangle',
                            'label': 'data(name)', classes: 'multiline-manual',
                            'width': 4,
                            'target-arrow-color': '#3d3c3c',


                        }
                    },
                    {
                        selector: "edge[label]",
                        css: {
                            "label": "data(label)",
                            "text-rotation": "autorotate",
                            "text-margin-x": "0px",
                            "text-margin-y": "0px",
                            "font": "14px helvetica neue, helvetica, arial, sans-serif",
                            "font-weight": "bold",


                        }
                    },
                ],


                elements: {
                    nodes: demoNodes,
                    edges: demoEdges
                }
            });
            console.log(cy)

            cy.cxtmenu({
                selector: 'node, edge',

                commands: [

                    {
                        content: 'Detay',
                        select: function (ele) {
                            debugger;

                            let html = '';
                            html += '<div class="col-md-6">';
                            html += '<div class="form-group"> <label for="exampleInputEmail1">Başlangıç Tarihi : </label>  ' + this.data('startDate') + '  </div>';
                            html += '<div class="form-group"> <label for="exampleInputEmail1">Bitiş Tarihi : </label> ' + this.data('finishDate') + '  </div>';
                            if (this.data('status')) {
                                html += '<div class="form-group"> <label>Durumu : </label> Devam Ediyor </div>';

                            } else {
                                html += '<div class="form-group"> <label>Durumu : </label> Tamamlandı</div>';

                            }
                            if (this.data('indefinite')) {
                                html += '<div class="form-group"> <label>Süre Türü : </label> Süresiz</div></div>';

                            } else {
                                html += '<div class="form-group"> <label>Süre Türü : </label> Süreli</div></div>';

                            }
                            html += '</div>';
                            if (this.data('html')) {
                                html += '<div class="col-md-6">';
                                html += this.data('html');
                                html += '</div>';

                            }


                            let html2 = ''
                            html2 = '<div class="btn-group" role="group" aria-label="Basic example">';

                            let add_extratime = "{% url 'ekabis:add_extratime' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                            add_extratime = add_extratime.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                            add_extratime = add_extratime.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                            html2 += '<a class="btn btn-secondary" href="' + add_extratime + '" type="button" style="float:right;margin-right: 5px;">Ek Süre Ekle</a>';
                            if (this.data('name') === 'Kabuller'+' '+this.data('startDate')) {
                                let view_yeka_accept = "{% url 'ekabis:view_yeka_accept' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                view_yeka_accept = view_yeka_accept.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                view_yeka_accept = view_yeka_accept.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + view_yeka_accept + '" type="button" style="float:right">Kabuller</a>';

                            } else if (this.data('name') === 'Resmi Gazete İlanı'+' '+this.data('startDate')) {
                                let add_newspaper = "{% url 'ekabis:add_newspaper' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                add_newspaper = add_newspaper.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                add_newspaper = add_newspaper.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + add_newspaper + '" type="button" style="float:right">Gazete Ekle</a>';

                            } else if (this.data('name') === 'Yarışmanın Yapılması'+' '+this.data('startDate')) {
                                let change_competition = "{% url 'ekabis:change_competition_block_' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                change_competition = change_competition.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                change_competition = change_competition.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + change_competition + '" type="button" style="float:right">Yarışma Ayarları</a>';


                            } else if (this.data('name') === 'Aday YEKA Önerilmesi'+' '+this.data('startDate')) {
                                let change_yekaproposal = "{% url 'ekabis:change_yekaproposal' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                change_yekaproposal = change_yekaproposal.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                change_yekaproposal = change_yekaproposal.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + change_yekaproposal + '" type="button" style="float:right">Aday YEKALAR</a>';

                            } else if (this.data('name') === 'ADAY YEKA Kurum Görüşlerinin Alınması'+' '+this.data('startDate')) {
                                let change_yekaproposal = "{% url 'ekabis:change_yekaproposal' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                change_yekaproposal = change_yekaproposal.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                change_yekaproposal = change_yekaproposal.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + change_yekaproposal + '" type="button" style="float:right">Aday Yeka Kurum Görüşleri</a>';
                                let change_proposal_active = " {% url 'ekabis:change_proposal_active' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                change_proposal_active = change_proposal_active.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                change_proposal_active = change_proposal_active.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + change_proposal_active + '" type="button" style="float:right;">YEKA Kurum Ayarları</a>';


                            } else if (this.data('name') === 'Fabrika Kurulumu'+' '+this.data('startDate')) {
                                let view_yeka_factory = "{% url 'ekabis:view_yeka_factory' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                view_yeka_factory = view_yeka_factory.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                view_yeka_factory = view_yeka_factory.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + view_yeka_factory + '" type="button" style="float:right">Fabrikalar</a>';

                            } else if (this.data('name') === 'Ön Lisans Süreci'+' '+this.data('startDate')) {
                                let view_yeka_associate_degree_file = "{% url 'ekabis:view_yeka_associate_degree_file' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                view_yeka_associate_degree_file = view_yeka_associate_degree_file.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                view_yeka_associate_degree_file = view_yeka_associate_degree_file.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + view_yeka_associate_degree_file + '" type="button" style="float:right">Ön Lisans Belgeleri</a>';

                            } else if (this.data('name') === 'Başvurunun Alınması'+' '+this.data('startDate')) {
                                let view_application = "{% url 'ekabis:view_application' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                view_application = view_application.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                view_application = view_application.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + view_application + '" type="button" style="float:right">Başvurular</a>';
                                let add_yekaapplication = " {% url 'ekabis:add_yekaapplication' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                add_yekaapplication = add_yekaapplication.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                add_yekaapplication = add_yekaapplication.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + add_yekaapplication + '" type="button" style="float:right;margin-left: 5px;">Başvuru Ayarları</a>';


                            } else if (this.data('name') === 'Proje Yetkili Temsilcisinin Atanması'+' '+this.data('startDate')) {
                                let view_yeka_user = "{% url 'ekabis:view_yeka_user' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                view_yeka_user = view_yeka_user.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                view_yeka_user = view_yeka_user.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + view_yeka_user + '" type="button" style="float:right">Yetkili Listesi</a>';

                            } else if (this.data('name') === 'Alım Garantisi'+' '+this.data('startDate')) {
                                let add_produce_amount = "{% url 'ekabis:view_produce_amount' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                add_produce_amount = add_produce_amount.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                add_produce_amount = add_produce_amount.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + add_produce_amount + '" type="button" style="float:right">Üretim Miktarları</a>';

                            }

                            html2 += '</div>';
                            let html3 = '<h4 class="modal-title">' + this.data('name') + '</h4>';
                            document.getElementById('block_header').innerHTML = html2;
                            document.getElementById('block_detail').innerHTML = html;
                            document.getElementById('block_title').innerHTML = html3;

                            $('#modal-detail').modal('show');


                        }
                        ,
                    },
                    {
                        content: 'Kapat',


                    },

                    {
                        content: 'Düzenle',

                        select: function (ele) {
                            debugger;
                            console.log(ele.position());
                            let url_update = "{% url 'ekabis:change_yekacompetitionbusinessBlog' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' '7729c6ee-739d-4a89-8ffe-1357e691ca18' %}";
                            url_update = url_update.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('yeka'))
                            url_update = url_update.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                            url_update = url_update.replace('7729c6ee-739d-4a89-8ffe-1357e691ca18', this.data('businessblog'))

                            window.location.replace(url_update);
                        }
                    }
                ]
            });

            cy.cxtmenu({
                selector: 'core',

                commands: [
                    {
                        content: 'bg1',
                        select: function () {
                            console.log('bg1');
                        }
                    },

                    {
                        content: 'bg2',
                        select: function () {
                            console.log('bg2');
                        }
                    }
                ]
            });
            var layout = cy.layout({
                name: 'grid'
            });
            layout.run()
        });
    </script>
    <section class="content-header">

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        <a href="{% url 'ekabis:view_yeka_competition_detail' yeka.parent.uuid %}">{{ yeka.parent.name }}</a>
                        - {{ yeka.name }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>

    <section class="content">
        <div class="row">

            <section class="col-lg-12 ">

                <div class="card card-primary card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title">Alt Yeka Detay Sayfası</h3>

                    </div>
                    <div class="card-body">
                        <div class="row">


                            <div class="col-lg-12">
                                <div class="card card-default card-outline">
                                    <div class="card-header with-border">
                                        <h3 class="card-title">Görevli Personel Listesi</h3>
                                        {% for item in perm %}
                                            {% if item == 'view_yekacompetition_personel' %}
                                                <a href="{% url "ekabis:view_yekacompetition_personel" yeka.uuid %}"
                                                   title="Personel Ekle"
                                                   type="button" class="btn btn-outline-primary btn-sm"
                                                   style="float: right"><i
                                                        class="fa fa-plus"></i>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>


                                    <div class="card-body">

                                        <table id="region" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Ad Soyad</th>

                                            </tr>
                                            </thead>

                                            <tbody>

                                            {% for employee in employees %}
                                                <tr>
                                                    <td>{{ forloop.counter }} </td>
                                                    <td>{{ employee.employee.person.user.first_name }} {{ employee.employee.person.user.last_name }}</td>

                                                </tr>

                                            {% endfor %}


                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                            {#                        personel Listesi#}


                        </div>

                    </div>

                </div>
            </section>
        </div>
        <div class="row">
            <section class="col-lg-12 ">
                <div class="card card-default card-outline">
                    <div class="card-header with-border"><h3 class="card-title">İş Planı</h3></div>
                    <div class="card-body" style="height: 500px">
                        <div id="cy"></div>

                    </div>
                    <div class="card-footer" style="padding: 10px">

                        <div class="" style="float: right">
                            <label for="">Durumlar</label>
                            <div class="color-palette-set">
                                <div class="bg-primary color-palette" style="padding: 3px"><span>Başlanmadı</span></div>
                                <div class="bg-warning color-palette" style="padding: 3px"><span>Devam Ediyor</span>
                                </div>
                                <div class="bg-success color-palette" style="padding: 3px"><span>Tamamlandı</span></div>
                                <div class="bg-danger color-palette" style="padding: 3px"><span>Tamamlanmadı</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </section>
    <script>


    </script>


{% endblock %}