{% extends 'base_layout.html' %}
{% block content %}
    {% load static %}
    <div id="toast-container" class="toasts-top-right">

        <div class="toast toast-error error" aria-live="polite" style="display: none" id="error_toast">
            <div class="toast-message" id="error_message">

            </div>
        </div>

        <div class="toast toast-success success" aria-live="polite" style="display: none" id="success_toast">
            <div class="toast-message" id="success_message">

            </div>
        </div>


    </div>
    <div class="modal fade " id="modal-lg" aria-modal="true" role="dialog" style="padding-right: 16px; display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Firma Belgeleri</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body" id="file">

                        <form action="" method="post" enctype="multipart/form-data" id="myForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <input type="text" hidden id="yekacompany_id" name="yekacompany_id"
                                               value="">


                                        <select id="filename" name="filename" data-placeholder=""
                                                class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;"
                                                data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            <option value="">deneme</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-5">

                                        <input type="file" id="file_input" name="file_input" value="">

                                    </div>
                                    <div class="col-lg-2">

                                        <button type="button" class="btn btn-outline-primary btn-sm" title="Ekle"><i
                                                class="fa fa-plus" onclick="array_company_file()"></i></button>

                                    </div>
                                </div>
                            </div>
                        </form>

                        <div id="file_text"></div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" onclick="save_file()">Kaydet</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message" id="success_toast"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}

    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <style>
        #loading {
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            opacity: 0.7;
            background-color: #fff;
            z-index: 100;
        }

        #loading-image {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 100;
        }
    </style>
    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Basvuru Firma Ekle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section class="content" id="page">

        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">Firma Ekle</h3>

                        </div>
                        <div class="card-body">


                            <div class="row">
                                <div class="form-group col-lg-3">
                                    <label for="select_yeka"> Yeka</label>
                                    <select class="form-control select2 select2-hidden-accessible"
                                            style="width: 100%;" required="required" maxlength="100"
                                            aria-label="Default select example" onchange="get_region()"
                                            name="select_yeka" id="select_yeka">

                                        {% for yeka in yekas %}
                                            <option value="{{ yeka.pk }}">{{ yeka.definition }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label for="select_yeka"> Bağlantı Bölgesi</label>
                                    <select class="form-control select2 select2-hidden-accessible"
                                            style="width: 100%;" required="required" maxlength="100"
                                            aria-label="Default select example" onchange="get_yeka_competition()"
                                            name="select_region" id="select_region">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label for="select_yeka form-control select2 select2-hidden-accessible">
                                        Yarışma</label>
                                    <select class="form-control select2 select2-hidden-accessible"
                                            style="width: 100%;" required="required" maxlength="100"
                                            aria-label="Default select example"
                                            name="select_competition" id="select_competition">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label for="select_yeka form-control select2 select2-hidden-accessible">
                                        Firma</label>
                                    <select class="form-control select2 select2-hidden-accessible"
                                            style="width: 100%;" required="required" maxlength="100"
                                            aria-label="multiple select example"
                                            name="select_company" id="select_company">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div id="loading" style="display: none">

                                <img id="loading-image" src="{% static 'loader/wind.gif' %}" alt="Loading..."/>
                            </div>

                            <div class="card-footer">
                                <button class="btn btn-outline-primary" type="button" onclick="make_application()"
                                        style="float:right">Kaydet
                                </button>

                            </div>


                        </div>
                    </div>
                    <div class="card card-default card-outline" id="competition">
                        <div class="card-header with-border">
                            <h3 class="card-title">Başvurular</h3>
                        </div>


                        <div class="card-body">


                            <table id="app_table" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>YEKA</th>
                                    <th>Bağlantı Bölgesi</th>
                                    <th>Yarışma</th>
                                    <th>Firma</th>
                                    <th></th>

                                </tr>
                                </thead>

                                <tbody>


                                </tbody>
                            </table>


                        </div>
                    </div>


                </div>
        </form>


    </section>

    <script>

        $(document).ready(function () {
            $('#loading').show()
            get_region();
            get_yeka_competition();

            table = $('#app_table').DataTable({

                "processing": true,
                "serverSide": true,
                "paging": true,
                "ordering": true,


                "ajax": {
                    "url": "{% url 'ekabis:view_application_company' %}",
                    "type": "POST"

                },

                dom: 'Bfrtip',

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Firmalar',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet'
                    },


                ],


                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },
                "columns": [
                    {"data": "id"},

                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.yeka.definition;

                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.connection_region.name;

                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.competition.name;


                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.company.name;


                        }
                    },
                    {
                        "data": null,
                        render: function (full, data, type, row) {
                            let html = ''
                            let url = "get_yeka_company('" + full.uuid + "')"

                            html = '<button type="button" onclick="' + url + '" class="btn btn-outline-primary btn-sm"> Belge Ekle  </button>';
                            return html;


                        }
                    },


                ],

                "search": {
                    "caseInsensitive": true
                }


            });

            table.on('draw.dt', function () {
                var info = table.page.info();
                table.column(0, {
                    search: 'applied',
                    order: 'applied',
                    page: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1 + info.start;
                });

                for (var i = 0; i < array.length; i++) {
                    json(array[i])


                }

            });


        });

        var array = []

        function get_yeka_company(id) {

            $('#loading').show();

            $.ajax({
                url: "{% url 'ekabis:get_yeka_company' %}",
                type: "post", // or "get"
                async: false,
                data: {
                    yeka_company_id: id,
                },

                success: function (result) {


                    debugger;
                    let select = document.getElementById("filename");
                    let array = []
                    let yeka_company = []
                    array = result.yeka_company.files
                    yeka_company = result.yeka_company
                    select.options[select.options.length] = new Option('Text 1', 'Value1');

                    $('#filename').empty();

                    for (let i = 0; i < array.length; i++) {
                        select.options[select.options.length] = new Option(array[i].filename.filename, array[i].filename.id);
                    }
                    document.getElementById('yekacompany_id').value = id;

                    debugger;

                    let html = '';
                    document.getElementById('file_text').innerHTML = html;
                    for (let j = 0; j < array.length; j++) {
                        if (array[j].file) {
                            let url = "delete_yeka_company('" + array[j].uuid + "')";
                            html += '<div class="row" id="file_' + array[j].uuid+ '"><p class="text-primary" id="' + id + '"><div class="col-lg-2"><span  type="text">' + array[j].filename.filename + ' </span></div><div class="col-lg-8"><span type="text">' + array[j].file + '</span></div>';
                            html += '<div class="col-lg-2"><button onclick="' + url + '" type="button" class="btn btn-outline-danger btn-sm" title="Sil"><i class="fa fa-times"></i></button></div></p></div>';


                        }

                    }
                    $("#file_text").append(html);


                    $('#modal-lg').modal();
                    $('#loading').hide();


                }
            });

        }

        var array_file = [];

        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                return reader.result
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
                return 'Hata';
            };
        }

        document.getElementById('file_input').addEventListener('change', x, false);

        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });

        function x() {
            const uploadedFile = document.querySelector('#file_input').files[0];
            toBase64(uploadedFile)
                .then(res => {
                    console.log(res);
                    var x = document.getElementById("filename");
                    var id = x.options[x.selectedIndex].value;
                    var json = {
                        'filename': id, 'file': res
                    }

                    array_file.push(json)
                })
                .catch(err => {
                    console.log(err);
                })


        }


        function array_company_file() {
            debugger;
            var e = document.getElementById("filename");
            var id = e.options[e.selectedIndex].value;
            var name = e.options[e.selectedIndex]
            var file_input1 = document.getElementById('file_input').value;
            var myfile = document.getElementById('file_input').files;
            var file = document.getElementById("myForm").elements.namedItem("file_input").value;


            let html = ''
            let url = "delete_file_line('" + id + "','" + file_input1 + "')";
            html += '<div class="row" id="file_' + id + '"><div class="col-lg-5 text-primary"><span  type="text">' + name.label + ' </span></div><div class="col-lg-5 text-primary"><span type="text">' + file_input.files[0].name + '</span></div>';
            html += '<div class="col-lg-2"><button onclick="' + url + '" type="button" class="btn btn-outline-danger btn-sm" title="Ekle"><i class="fa fa-times"></i></button></div></div>';


            $("#file_text").append(html);


        }

        function delete_file_line(id, filename) {
            debugger;
            let json = {
                'filename': id,
                'file': filename
            }
            let index = array_file.indexOf(json)
            if (index === -1) {
                array_file.splice(index, 1);
            }
            document.getElementById('file_' + id).remove();
        }


        function save_file() {

            debugger;
            var id = document.getElementById('yekacompany_id').value
            var company_files = JSON.stringify(array_file);

            $.ajax({
                url: "{% url 'ekabis:save_company_app_file' %}",
                type: "post", // or "get"
                async: false,
                data: {
                    files: company_files,
                    id: id
                },

                success: function (result) {
                    debugger;
                    if (result.status === 'Success') {
                        debugger;
                        let toast = document.getElementById('success_message');
                        let html = ''
                        html = 'Belge Kaydedildi';
                        toast.innerHTML = html;
                        document.getElementById('success_toast').style.display = 'block';
                        $('.success').toast('show');
                        $('.toast').fadeOut(5000);
                        $('#modal-lg').modal('hide');

                    } else {
                        debugger;
                        let toast = document.getElementById('error_message');
                        let html = ''
                        html = result.msg;
                        toast.innerHTML = html;
                        document.getElementById('error_toast').style.display = 'block';
                        $('.error').toast('show');
                        $('.toast').fadeOut(5000);


                    }


                }
            });
        }


        function make_application() {
            $('#loading').show();

            var company = document.getElementById("select_company").value;
            var competition = document.getElementById("select_competition").value;
            var yeka = document.getElementById("select_yeka").value;
            var region = document.getElementById("select_region").value;


            $.ajax({
                url: "{% url 'ekabis:yeka_make_aplication_company' %}",
                type: "post", // or "get"
                async: false,
                data: {
                    yeka_id: yeka,
                    company_id: company,
                    region_id: region,
                    competition_id: competition
                },

                success: function (result) {
                    debugger;
                    table.ajax.reload();
                    if (result.status === 'Success') {
                        debugger;
                        let toast = document.getElementById('success_message');
                        let html = ''
                        html = 'Başvuru Kaydedildi';
                        toast.innerHTML = html;
                        document.getElementById('success_toast').style.display = 'block';
                        $('.success').toast('show');
                        $('.toast').fadeOut(5000);
                        $('#loading').hide();


                    } else {
                        debugger;
                        let toast = document.getElementById('error_message');
                        let html = ''
                        html = result.msg;
                        toast.innerHTML = html;
                        document.getElementById('error_toast').style.display = 'block';
                        $('.error').toast('show');
                        $('.toast').fadeOut(5000);
                        $('#loading').hide();


                    }


                }
            });
        }

        function get_region() {
            debugger;
            var e = document.getElementById("select_yeka");
            var yeka_id = e.options[e.selectedIndex].value;
            $.ajax({
                url: "{% url 'ekabis:get_region' %}",
                type: "post", // or "get"
                async: false,
                data: {
                    yeka_id: yeka_id,
                },

                success: function (result) {
                    debugger;

                    let select = document.getElementById("select_region");

                    select.options[select.options.length] = new Option('Text 1', 'Value1');

                    $('#select_region').empty();

                    for (let i = 0; i < result.region.length; i++) {
                        select.options[select.options.length] = new Option(result.region[i].name, result.region[i].id);
                    }


                }
            });
        }

        function delete_yeka_company(id) {
            debugger;

            $.ajax({
                url: "{% url 'ekabis:delete_yeka_company_file' %}",
                type: "post", // or "get"
                async: false,
                data: {
                    id: id,
                },

                success: function (result) {

                    debugger;
                    document.getElementById('file_' + id).remove();
                     let toast = document.getElementById('error_message');
                        let html = ''
                        html = result.msg;
                        toast.innerHTML = html;
                        document.getElementById('error_toast').style.display = 'block';
                        $('.error').toast('show');
                        $('.toast').fadeOut(5000);


                }
            });
        }

        function get_yeka_competition() {
            debugger;
            $('#loading').show();

            var e = document.getElementById("select_region");
            var region_id = e.options[e.selectedIndex].value;

            $.ajax({
                url: "{% url 'ekabis:get_yeka_competition' %}",
                type: "post", // or "get"
                async: true,
                data: {
                    region_id: region_id,

                },
                success: function (result) {
                    debugger;

                    let select = document.getElementById("select_competition");


                    $('#select_competition').empty();

                    for (let i = 0; i < result.competition.length; i++) {
                        select.options[select.options.length] = new Option(result.competition[i].name, result.competition[i].id);
                    }

                    let select2 = document.getElementById("select_company");
                    $('#select_company').empty();


                    for (let i = 0; i < result.company.length; i++) {
                        select2.options[select2.options.length] = new Option(result.company[i].name, result.company[i].id);
                    }
                    $('#loading').hide();


                }
            });
        }


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>

{% endblock %}