{% extends 'base_layout.html' %}

{% block content %}



    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="toast-container" class="toasts-top-right">

        <div class="toast toast-error error" aria-live="polite" style="display: none" id="error_toast">
            <div class="toast-message" id="error_message">

            </div>
        </div>


    </div>

    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}



    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        {{ name }} - Fabrika Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section class="content">
        <div class="row">
            <section class="col-lg-12 ">
                <div class="card-body">


                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title"> Fabrika
                                Listesi</h3>
                            {% for item in perm %}
                                {% if item == 'add_yeka_accept' %}

                                    <a href="{% url 'ekabis:add_factory' factory.uuid %}"
                                       type="button" class="btn btn-outline-primary btn-sm" style="float: right"><i
                                            class="fa fa-plus" title="Yeni Fabrika Ekle"></i>
                                    </a>

                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="card-body">
                            <table id="factory" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <td>Fabrika</td>
                                    <td>Kuruluş Tarihi</td>
                                    <td>İşlemler</td>

                                </tr>
                                </thead>
                                <tbody>

                                {% for item in factory.factory.all %}
                                    {% if not item.isDeleted %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.date }}</td>
                                            <td>
                                                <div class="btn-group">

                                                    <button type="button"
                                                            class="btn btn-default dropdown-toggle dropdown-icon"
                                                            data-toggle="dropdown"> İşlemler
                                                    </button>
                                                    <div class="dropdown-menu" role="menu">
                                                        {% for p in perm %}
                                                            {% if p == 'update_factory' %}
                                                                <a href="{% url 'ekabis:update_factory'  item.uuid %}"
                                                                   class="dropdown-item"> <i
                                                                        class="fa fa-edit" title="Düzenle"></i> Düzenle
                                                                </a>
                                                            {% endif %}
                                                            {% if p == 'delete_accept' %}
                                                                <a class="dropdown-item" href=""
                                                                   data-toggle="modal"
                                                                   onclick="deleteFactory('{{ item.uuid }}')"><i
                                                                        class="fa fa-trash"></i>Sil</a>

                                                            {% endif %}
                                                        {% endfor %}


                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                    {% endif %}
                                {% endfor %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- /.card -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>
    {% load  static %}
    <script>
        $(function () {
            $('#factory').DataTable({
                dom: 'Bfrtip',


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'YEKA LİSTESİ',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet'
                    },


                ],
                "search": {
                    "caseInsensitive": true,
                },
                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
            })

        })
    </script>

    <script>
        function deleteFactory(id) {
            debugger;
            console.log(id);
            var html = ''
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "{% url "ekabis:delete_factory" %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            uuid: id,
                        },
                        success: function (result) {

                            html = 'Fabrika Silindi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "ekabis:view_yeka" %}");

                                });

                            }).modal('show');

                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-active').modal('hide');
            });

        }</script>
{% endblock %}

