{% extends 'base_layout.html' %}

{% block content %}


    <section class="content-header">
        <div class="container-fluid">

        </div><!-- /.container-fluid -->
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="card">

            <div class="card-body">
                Veriler zaten var.
                <br>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a href="{% url 'ekabis:view_admin' %}" target="_blank"
                   rel="noopener noreferrer">Admin anasayfasına buradan ulaşabilirsiniz</a>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>








{% endblock %}

