{% extends 'base_layout.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-warning" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}

    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Kullanıcı durumunu değiştirmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Anasayfa</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h5 class="mb-2">Toplam YEKA Sayıları</h5>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>  {{ res_count }}</h3>
                            <p>Rüzgar Enerjisi</p>
                        </div>
                        <div class="icon">

                            <i class="fa fa-wind"></i>
                        </div>
                        <a href="{% url 'ekabis:view_yeka_by_type' 'Rüzgar' %}" class="small-box-footer">
                            <i class="fas fa-arrow-circle-right"></i>Daha Fazla Bilgi
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-gradient-yellow">
                        <div class="inner">
                            <h3>  {{ ges_count }}</h3>
                            <p>Güneş Enerjisi</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-sun"></i>
                        </div>
                        <a href="{% url 'ekabis:view_yeka_by_type' 'Güneş' %}" class="small-box-footer">
                            <i class="fas fa-arrow-circle-right"></i>Daha Fazla Bilgi
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>  {{ biyo_count }}</h3>
                            <p>Biyokütle Enerjisi</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <a href="{% url 'ekabis:view_yeka_by_type' 'Biyokütle' %}" class="small-box-footer">
                            <i class="fas fa-arrow-circle-right"></i>Daha Fazla Bilgi
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>  {{ jeo_count }}</h3>
                            <p>Jeotermal Enerjisi</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-fire"></i>
                        </div>
                        <a href="{% url 'ekabis:view_yeka_by_type' 'Jeotermal' %}" class="small-box-footer">
                            <i class="fas fa-arrow-circle-right"></i>Daha Fazla Bilgi
                        </a>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <script>
                function deleteCompetition(id) {
                    $("#modal-delete").on("shown.bs.modal", function (e) {
                        $("#btn-conf1").click(function () {
                            debugger;

                            $.ajax({
                                url: "{% url "ekabis:delete_competition"%}",
                                type: "POST",
                                data: {
                                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                    isActive: 'False',
                                    uuid: id.toString()
                                },

                                success: function (result) {
                                    if (result.status === 'Fail') {


                                        html = result.msg;
                                        debugger;
                                        $(".errorModal").html(html);
                                        $('#modal-error').on("shown.bs.modal", function (e) {
                                            $(".btn-ok").click(function () {


                                            });

                                        }).modal('show');
                                        console.log(result.status)
                                    } else {
                                        html = 'Yarışma Başarıyla Silindi';
                                        $(".successModal").html(html);
                                        $('#modal-success').on("shown.bs.modal", function (e) {
                                            $(".btn-ok").click(function () {


                                            });

                                        }).modal('show');
                                        console.log(result.status)

                                    }

                                },


                            });
                        });
                    }).modal('show');
                    $('#btn-close').click(function () {
                        $('#modal-danger').modal('hide');
                    });

                }</script>
            <div class="col-lg-6">
                <div class="card card-primary card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title">Görevli Olunan Yeka Listesi</h3>
                        {% for item in perm %}
                            {% if item == 'add_yeka' %}

                                <a href="{% url "ekabis:add_yeka" %}"
                                   type="button" class="btn btn-outline-primary btn-sm" style="float: right"><i
                                        class="fa fa-plus" title="Yeni Yeka Ekle"></i>
                                </a>

                            {% endif %}
                        {% endfor %}
                    </div>


                    <div class="card-body">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">

                                    <!-- ./card-header -->
                                    <div class="card-body p-0">
                                        <table class="table table-hover">
                                            <tbody>
                                            {% for item in comp_array %}
                                                <tr data-widget="expandable-table" aria-expanded="false">
                                                    <td style="font-size: 17px">
                                                        <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                        <b>{{ item.yeka.definition }}</b>

                                                    </td>

                                                </tr>
                                                <tr class="expandable-body ">
                                                    <td>
                                                        <div class="p-0">
                                                            <table class="table table-hover">
                                                                <tbody>
                                                                <tr data-widget="expandable-table"
                                                                    aria-expanded="false">
                                                                    <td>
                                                                        <a href="{% url 'ekabis:view_yeka_detail' item.yeka.uuid %}"
                                                                           class="button" title="Detay"
                                                                           type="button"><i
                                                                                class="fa fa-search"></i> Detay </a>
                                                                    </td>
                                                                </tr>

                                                                <tr id="is_close-{{ item.yeka.pk }}"
                                                                    data-widget="expandable-table"
                                                                    aria-expanded="false">
                                                                    <td>
                                                                        <button type="button"
                                                                                class="btn btn-outline-primary p-0 btn-sm">
                                                                            <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                                        </button>
                                                                        YEKA Bağlantı Bölgeleri
                                                                    </td>
                                                                </tr>
                                                                <tr class="expandable-body ">
                                                                    <td>
                                                                        <div class="p-0">
                                                                            <table class="table table-hover">
                                                                                <tbody>
                                                                                {% for region in item.regions|dictsort:"name" %}
                                                                                    <tr data-widget="expandable-table"
                                                                                        aria-expanded="false">


                                                                                        <td>
                                                                                            <button type="button"
                                                                                                    class="btn btn-outline-primary p-0 btn-sm">
                                                                                                <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                                                            </button>
                                                                                            {{ region.name }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="expandable-body d-none">
                                                                                        <td>
                                                                                            <div class="p-0"
                                                                                                 style="display: none;">
                                                                                                <table id="competitions-{{ item.yeka.pk }}"
                                                                                                       class="table table-hover">
                                                                                                    <tbody>
                                                                                                    {% for competition in region.yekacompetition.all|dictsort:"name" %}

                                                                                                        {% if not competition.isDeleted %}
                                                                                                            {% if competition.pk in person_comp %}
                                                                                                                <tr data-widget="expandable-table"
                                                                                                                    aria-expanded="false">
                                                                                                                    <td>
                                                                                                                        <a href="{% url 'ekabis:view_yeka_competition_detail' competition.uuid %}"> {{ competition.name }} </a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            {% endif %}
                                                                                                        {% endif %}
                                                                                                    {% endfor %}
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>


                    </div>

                </div>

            </div>
            <div class="col-lg-6">
                <div class="card card-primary card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title">YEKA YARIŞMALARI</h3>
                        {% for item in perm %}
                            {% if item == 'add_yeka' %}

                                <a href="{% url "ekabis:add_yeka" %}"
                                   type="button" class="btn btn-outline-primary btn-sm" style="float: right"><i
                                        class="fa fa-plus" title="Yeni Yeka Ekle"></i>
                                </a>

                            {% endif %}
                        {% endfor %}
                    </div>


                    <div class="card-body">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">

                                    <!-- ./card-header -->
                                    <div class="card-body p-0">
                                        <table class="table table-hover">
                                            <tbody>
                                            {% for item in all_yeka %}
                                                <tr data-widget="expandable-table" aria-expanded="false">
                                                    <td style="font-size: 17px">
                                                        <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                        <b>{{ item.yeka.definition }}</b>

                                                    </td>

                                                </tr>
                                                <tr class="expandable-body ">
                                                    <td>
                                                        <div class="p-0">
                                                            <table class="table table-hover">
                                                                <tbody>
                                                                <tr data-widget="expandable-table"
                                                                    aria-expanded="false">
                                                                    <td>
                                                                        <a href="{% url 'ekabis:view_yeka_detail' item.yeka.uuid %}"
                                                                           class="button" title="Detay"
                                                                           type="button"><i
                                                                                class="fa fa-search"></i> Detay </a>
                                                                    </td>
                                                                </tr>

                                                                <tr id="is_close-{{ item.yeka.pk }}"
                                                                    data-widget="expandable-table"
                                                                    aria-expanded="false">
                                                                    <td>
                                                                        <button type="button"
                                                                                class="btn btn-outline-primary p-0 btn-sm">
                                                                            <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                                        </button>
                                                                        YEKA Bağlantı Bölgeleri
                                                                    </td>
                                                                </tr>
                                                                <tr class="expandable-body ">
                                                                    <td>
                                                                        <div class="p-0">
                                                                            <table class="table table-hover">
                                                                                <tbody>
                                                                                {% for region in item.regions|dictsort:"name" %}
                                                                                    <tr data-widget="expandable-table"
                                                                                        aria-expanded="false">


                                                                                        <td>
                                                                                            <button type="button"
                                                                                                    class="btn btn-outline-primary p-0 btn-sm">
                                                                                                <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                                                            </button>
                                                                                            {{ region.name }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="expandable-body d-none">
                                                                                        <td>
                                                                                            <div class="p-0"
                                                                                                 style="display: none;">
                                                                                                <table id="competitions-{{ item.yeka.pk }}"
                                                                                                       class="table table-hover">
                                                                                                    <tbody>
                                                                                                    {% for competition in region.yekacompetition.all|dictsort:"name" %}

                                                                                                        {% if not competition.isDeleted %}

                                                                                                            <tr data-widget="expandable-table"
                                                                                                                aria-expanded="false">
                                                                                                                <td>
                                                                                                                    <a href="{% url 'ekabis:view_yeka_competition_detail' competition.uuid %}"> {{ competition.name }} </a>
                                                                                                                </td>
                                                                                                            </tr>

                                                                                                        {% endif %}
                                                                                                    {% endfor %}
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>


                    </div>

                </div>

            </div>
            <div class="col-lg-6">

                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">YEKA Yarışmaları Toplam Kururulu Güç</h3>

                        <div class="card-tools">
                            <div class="row">

                                <div class="col-lg-10">
                                    <select style="width: 100%;"
                                            class="form-control select2 select2-hidden-accessible float-right"
                                            id="select_pieChart" aria-label="">

                                        {% for item in yeka_competition %}
                                            <option value="{{ item.pk }}">{{ item.competition }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="card-body">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <div id="chart">
                            <p>Yarışma Seçiniz</p>
                        </div>
                    </div>

                    <!-- /.card-body -->
                </div>


            </div>

        <div class="col-lg-6">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">YEKA da Ulaşılan Kapasite</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="barChart"
                                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 764px;"
                                            width="764" height="250" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>


            <div class="col-md-3">
                <div class="sticky-top mb-3">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h4 class="card-title">Notlar </h4>
                            {% for item in perm %}
                                {% if item == 'add_calendarName' %}

                                    <a href="{% url "ekabis:add_calendarName" %}"
                                       type="button" class="btn btn-outline-primary btn-sm"
                                       style="float: right"><i
                                            class="fa fa-plus" title="Not Ekle"></i>
                                    </a>

                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            <!-- the events -->
                            <div id="external-events">
                                {% for cale in calendarNames %}
                                    <div id="{{ cale.uuid }}"
                                         class="external-event  ui-draggable ui-draggable-handle"
                                         style="position: relative; background-color: {{ cale.color }}">{{ cale.name }}
                                    </div>

                                {% endfor %}


                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-body p-1">
                        <!-- THE CALENDAR -->
                        <div id="calendar">

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </section>




    <script>
        $(document).ready(function () {

            var z = [];
            z ={{ yeka_capacity | safe }};
            // LINE CHART
            let capacity_labels = [];
            let capacity_remaining = []
            let capacity = [];

debugger;
            for (var k = 0; k < z.length; k++) {
                debugger;
                capacity_labels.push(z[k].label)
                capacity_remaining.push(z[k].total)
                capacity.push(z[k].capacity)


            }


           var areaChartData = {
                                labels: capacity_labels,
                                datasets: [
                                    {
                                        label: 'Kurulu Güç (MWe)',
                                         backgroundColor: 'rgba(60,141,188,0.9)',
                                        borderColor: 'rgba(60,141,188,0.8)',
                                        pointRadius: false,
                                        pointColor: '#3b8bba',
                                        pointStrokeColor: 'rgba(60,141,188,1)',
                                        pointHighlightFill: '#fff',
                                        pointHighlightStroke: 'rgba(60,141,188,1)',
                                        data: capacity
                                    },
                                    {
                                        label: 'Toplam Güç (MWe)',
                                       backgroundColor: 'rgba(210, 214, 222, 1)',
                                        borderColor: 'rgba(210, 214, 222, 1)',
                                        pointRadius: false,
                                        pointColor: 'rgba(210, 214, 222, 1)',
                                        pointStrokeColor: '#c1c7d1',
                                        pointHighlightFill: '#fff',
                                        pointHighlightStroke: 'rgba(220,220,220,1)',
                                        data: capacity_remaining
                                    },

                                ]
                            }
            var barChartCanvas = $('#barChart').get(0).getContext('2d')
            var barChartData = $.extend(true, {}, areaChartData)
            var temp0 = areaChartData.datasets[0]
            var temp1 = areaChartData.datasets[1]
            barChartData.datasets[0] = temp1
            barChartData.datasets[1] = temp0

            var barChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                datasetFill: false
            }

            new Chart(barChartCanvas, {
                type: 'bar',
                data: barChartData,
                options: barChartOptions
            })




        })

    </script>
    <script>
        function deleteCompetition(id) {
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    debugger;

                    $.ajax({
                        url: "{% url "ekabis:delete_competition"%}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False',
                            uuid: id.toString()
                        },

                        success: function (result) {
                            if (result.status === 'Fail') {


                                html = result.msg;
                                debugger;
                                $(".errorModal").html(html);
                                $('#modal-error').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {


                                    });

                                }).modal('show');
                                console.log(result.status)
                            } else {
                                html = 'Yarışma Başarıyla Silindi';
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {


                                    });

                                }).modal('show');
                                console.log(result.status)

                            }

                        },


                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        }</script>
    <script>
        $("#select_pieChart").change(function (e) {
            var graphArray2 = []
            var accepts = []
            let label2 = []
            $.ajax({
                url: "{% url "ekabis:api_yeka_accept" %}",
                type: "POST",
                async: true,
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    pk: $(this).val(),
                },
                success: function (result) {
                    debugger;
                    accepts = result.accepts;
                    if (accepts.length > 0) {
                        var html = ''
                        html += '<canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 572px;" width="715" height="312" class="chartjs-render-monitor"></canvas>';
                        document.getElementById('chart').innerHTML = html;

                        var x = accepts;
                        for (var i = 0; i < x.length; i++) {
                            label2.push(x[i].label.toString())
                            graphArray2.push(x[i].power)

                        }

                        var donutData2 = {
                            labels: label2,
                            datasets: [
                                {
                                    data: graphArray2,
                                    backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#24c2d0', '#3c8dbc', '#d2d6df', '#ce60d0', '#f1d53b', '#3275d5', '#4659c7', '#d77399', '#fc0000'],
                                }
                            ]
                        }


                        var pieChartCanvas2 = $('#pieChart2').get(0).getContext('2d')
                        var pieData2 = donutData2;
                        var pieOptions2 = {
                            maintainAspectRatio: false,
                            responsive: true,
                        }
                        //Create pie or douhnut chart
                        // You can switch between pie and douhnut using the method below.
                        new Chart(pieChartCanvas2, {
                            type: 'pie',
                            data: pieData2,
                            options: pieOptions2
                        })
                    } else {
                        var html2 = ''
                        html2 = 'Yarışmaya ait kabul bulunmamaktadır';
                        document.getElementById('chart').innerHTML = html2;
                    }


                }
            })

        })
        $(function () {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });

            /* initialize the external events
             -----------------------------------------------------------------*/
            function ini_events(ele) {
                ele.each(function () {

                    // create an Event Object (https://fullcalendar.io/docs/event-object)
                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).text()) // use the element's text as the event title
                    }

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject)

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 1070,
                        revert: true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    })

                })
            }

            ini_events($('#external-events div.external-event'))

            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date()
            var d = date.getDate(),
                m = date.getMonth(),
                y = date.getFullYear()

            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendar.Draggable;

            var containerEl = document.getElementById('external-events');
            var calendarEl = document.getElementById('calendar');

            // initialize the external events
            // -----------------------------------------------------------------

            new Draggable(containerEl, {
                itemSelector: '.external-event',
                eventData: function (eventEl) {
                    console.log(containerEl)
                    return {
                        title: eventEl.innerText,
                        backgroundColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                        borderColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                        textColor: window.getComputedStyle(eventEl, null).getPropertyValue('color'),
                    };
                }
            });

            var calendar = new Calendar(calendarEl, {
                monthNames: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                monthNamesShort: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                dayNames: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
                dayNamesShort: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
                buttonText: {
                    today: 'Bugün',
                    month: 'Ay',
                    week: 'Hafta',
                    day: 'Gün',
                    list: 'Liste',
                    listMonth: 'Aylık Liste',
                    listYear: 'Yıllık Liste',
                    listWeek: 'Haftalık Liste',
                    listDay: 'Günlük Liste'
                },
                locale: 'tr',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                themeSystem: 'bootstrap',
                //Random default events
                events: [
                    {% for i in vacation_days %}
                        {
                            title: "{{ i.definition }}",
                            start: "{{ i.date | date:"Y-m-d" }}",
                            backgroundColor: '#f88507', //red
                            borderColor: '#f88507', //red
                            allDay: true,
                        },
                    {% endfor %}
                    {% for x in yeka %}

                        {
                            title: "{{ x.definition }}",
                            start: "{{ x.date | date:"Y-m-d" }}",
                            backgroundColor: '#007bff', //red
                            borderColor: '#007bff', //red
                            allDay: true,
                            url: '{% url 'ekabis:view_yeka_detail' x.uuid %}'
                        },
                    {% endfor %}
                ],
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (info) {

                    var tuuid = info.draggedEl.id;
                    var tdates = info.dateStr;
                    console.log(tuuid);
                    console.log(tdates);
                    $.ajax({
                        url: "{% url "ekabis:add_calendarfdk" %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            uuid: tuuid,
                            dates: tdates,
                        },
                        success: function (result) {
                            console.log(result.status)
                        }
                    });

                }

            });

            calendar.render();
            // $('#calendar').fullCalendar()

            /* ADDING EVENTS */
            var currColor = '#3c8dbc' //Red by default
            // Color chooser button
            $('#color-chooser > li > a').click(function (e) {
                e.preventDefault()
                // Save color
                currColor = $(this).css('color')
                // Add color effect to button
                $('#add-new-event').css({
                    'background-color': currColor,
                    'border-color': currColor
                })
            })
            $('#add-new-event').click(function (e) {
                e.preventDefault()
                // Get value and make sure it is not null
                var val = $('#new-event').val()
                if (val.length == 0) {
                    return
                }

                // Create events
                var event = $('<div />')
                event.css({
                    'background-color': currColor,
                    'border-color': currColor,
                    'color': '#fff'
                }).addClass('external-event')
                event.text(val)
                $('#external-events').prepend(event)

                // Add draggable funtionality
                ini_events(event)

                // Remove event from text input
                $('#new-event').val('')
            })
        })


    </script>







{% endblock %}