{% extends 'base_layout.html' %}
{% block content %}

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}
    <section class="content-header">

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        Bildirimler </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section class="content">
        <div class="row">
            <section class="col-lg-12 ">
                <div class="card-body">


                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title"> Bildirimler </h3>
                        </div>

                        <div class="card-body">
                            <table id="notifications" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Başlık</th>
                                    <th>İçerik</th>
                                    <th>Okundu Olarak İşaretle</th>
                                    <th>Oluşturulma Tarihi</th>
                                    <th>Okunma Tarihi</th>


                                </tr>
                                </thead>
                                <tbody>

                                {% for item in notification_all %}
                                    {% if  item.is_read %}
                                        <tr style="color: #a3a3a3">

                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ item.notification.title }}</td>

                                            <td>{{ item.notification.not_description | safe }}</td>
                                            <td>
                                                <div class="icheck-success d-inline">

                                                    <input type="checkbox" disabled checked="" id="checkboxSuccess1">

                                                    <label for="checkboxSuccess1">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>{{ item.notification.creationDate.date }}</td>
                                            <td>{{ item.read_date }}</td>


                                        </tr>
                                    {% else %}
                                        <tr>

                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ item.notification.title }}</td>

                                            <td>{{ item.notification.not_description | safe }}</td>
                                            <td>
                                                <div class="icheck-success d-inline">
                                                    <input type="checkbox" id="{{ item.pk }}" class="isread">
                                                    <label for="{{ item.pk }}">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>{{ item.notification.creationDate }}</td>
                                            <td>-----</td>


                                        </tr>
                                    {% endif %}

                                {% endfor %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- /.card -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>
    <script>
        {% load  static %}
     $(function () {
             table =$('#notifications').DataTable({


                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },

                "search": {
                    "caseInsensitive": true,
                },
                'bubble': true,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
                'select': true,
            });
            table.on('draw.dt', function () {
                var info = table.page.info();
                table.column(0, {
                    search: 'applied',
                    order: 'applied',
                    page: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1 + info.start;
                });
            });


        })
        $(".isread").change(function () {
            debugger;
            var id = $(this).attr("id");
            $.ajax({
                url: "{% url 'ekabis:bildirim-okundu-isaretle' %}",
                type: "post", // or "get"
                async: true,
                data: {
                    id: parseInt(id),
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",

                },
                success: function (result) {
                    debugger;

                   window.location.reload();




                }
            });
        })
    </script>
{% endblock %}