{% extends 'base_layout.html' %}

{% block content %}




    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-danger modal-danger-food fade in" id="modal-success-danger" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarısız</h4>
                </div>
                <div class="modal-body successModalD">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-active"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Kullanıcı durumunu değiştirmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-warning fade in deneme223" tabindex="-1" role="dialog" id="modal-mail"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">


                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Kullanıcı giriş bilgilerini göndermek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf12"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close2">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>


    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        Kullanıcı Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>


    <section class="content">


        <div class="row">
            <section class="col-lg-12 ">
                <div class="card-body">
                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">Kullanıcılar</h3>
                        </div>
                        <div class="card-body">
                            <table width="100%" id="users" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ad Soyad</th>
                                    <th>E-Mail</th>
                                    <th>Grup</th>
                                    <th>Aktiflik Durumu</th>
                                    <th>İşlemler</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ user.first_name }} {{ user.last_name }} </td>
                                        <td>{{ user.email }} </td>

                                        <td>

                                            {% for group  in user.groups.all %}

                                                {{ group.name }}<br>

                                            {% endfor %}

                                        </td>
                                        {% if user.is_active %}
                                            <td>Aktif</td>
                                        {% else %}
                                            <td>Pasif</td>
                                        {% endif %}
                                        <td>

                                            <div class="btn-group">

                                                <button type="button"
                                                        class="btn btn-default dropdown-toggle dropdown-icon"
                                                        data-toggle="dropdown"> İşlemler
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    {% for item in perm %}
                                                        {% if item == 'view_status' %}
                                                            <a class="dropdown-item" href=""
                                                               data-toggle="modal" onclick=activeUser({{ user.pk }})><i
                                                                    class="fa fa-lock" title="Aktif/Pasif"></i>
                                                                Pasif Yap</a>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for item in perm %}
                                                        {% if item == 'change_user_group' %}
                                                            <a href="{% url "ekabis:change_user_group" user.pk %}"
                                                               type="button" class="dropdown-item"><i
                                                                    class="fa fa-edit" title="Grup Güncelle"></i> Grup
                                                                Güncelle
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}


                                                </div>
                                            </div>

                                        </td>

                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- /.card -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>
    {% load static %}
    <script>
        $(function () {
            $('#users').DataTable({
                dom: 'Bfrtip',


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'YEKABIS-Kullanicilar',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        title: 'YEKABIS-Kullanicilar',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },


                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet',
                        title: 'YEKABIS-Kullanicilar',
                        exportOptions: {
                            columns: ':visible'
                        },
                    },


                ],

                "search": {
                    "caseInsensitive": true,
                },
                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}",

                },
                'bubble': true,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'scrollX': true,
                'select': true,
            })

        })

        function activeUser(id) {

            console.log(id);
            var html = ''
            $("#modal-active").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "{% url "ekabis:view_status" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Kullanıcı Durumu Değiştirildi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "ekabis:view_user" %}");

                                });

                            }).modal('show');
                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-active').modal('hide');
            });

        }

        function sendInform(id) {
            debugger;
            console.log(id);
            var html = ''
            $("#modal-mail").on("shown.bs.modal", function (e) {
                $("#btn-conf12").click(function () {
                        $.ajax({
                            url: "{% url "ekabis:view_email" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",

                            },
                            success: function (result) {

                                if (result.status == 'Fail') {
                                    html = result.msg;
                                    debugger;
                                    $(".successModalD").html(html);
                                    $('#modal-success-danger').on("shown.bs.modal", function (e) {
                                        $(".btn-ok").click(function () {

                                            window.location.replace("{% url "ekabis:view_user" %}");

                                        });
                                    }).modal('show');


                                } else {
                                    html = result.msg;
                                    debugger;
                                    $(".successModal").html(html);
                                    $('#modal-success').on("shown.bs.modal", function (e) {
                                        $(".btn-ok").click(function () {

                                            window.location.replace("{% url "ekabis:view_user" %}");

                                        });
                                    }).modal('show');


                                }


                                console.log(result.status)
                            }
                        });
                    }
                )
                ;
            }).modal('show');
            $('#btn-close2').click(function () {
                $('#modal-mail').modal('hide');
            });

        }

    </script>
{% endblock %}

