{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

    <section class="content">
        <section class="content-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3></h3>
                </div>

            </div>
        </section>
        <div class="row">
           <div class="col-lg-12">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h4 class="card-title">Raporlama</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table id="region" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>No</th>

                                                {% for item in table_th %}
                                                <th>{{ item }}</th>
                                                {% endfor %}


                                            </tr>
                                            </thead>

                                            <tbody>


                                            {% for item in row %}
                                                <tr id="hover">
                                                    <td>{{ forloop.counter }} </td>
                                                    {% for i in item %}
                                                    <td>{{ i }}</td>
                                                    {% endfor %}
                                                </tr>

                                                </tr>

                                            {% endfor %}


                                            </tbody>
                                        </table>


                                    </div>

                                    {#personel Listesi#}

                                </div>

                            </div>
                        </div>

                    </div>
        </div>
    </section>

{% endblock %}