{% extends 'base_layout.html' %}

{% block content %}
    {% load static %}


    <link rel="stylesheet" href="{% static 'vis/css/vis-timeline-graph2d.min.css' %}">
    <script src="{% static 'vis/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'vis/js/vis-timeline-graph2d.min.js' %}"></script>


    <div class="card card-primary card-outline">
        <div class="card-header with-border">
            <h3 class="card-title">{{ yeka.definition }}</h3>
        </div>

        <div class="card-body">
            <div id="visualization"></div>

        </div>
    </div>



    <script type="text/javascript">
        // DOM element where the Timeline will be attached
        var container = document.getElementById("visualization");

        // Create a DataSet (allows two way data-binding)
        var items = new vis.DataSet([
            {% for yekabusinessblok in yekabusinessbloks %}
                {
                    id: "{{ yekabusinessblok.uuid}}",
                    content: "{{ yekabusinessblok.businessblog.name }}",
                    start: "{{ yekabusinessblok.startDate| date:"Y-m-d" }}",
                    end: "{{ yekabusinessblok.finisDate| date:"Y-m-d" }}",
                    url:"{% url "ekabis:view_yekabusinessblog_gant" yeka.uuid yekabusinessblok.uuid %}",
                },
            {% endfor %}
        ]);
        var options = {
            height: '500px',
            width: '100%',
            locale: 'tr',
            clickToUse: false,
        };
        var timeline = new vis.Timeline(container, items, options);
        timeline.on('click', function (properties) {
            if (properties.item != null){
                var clickedNodes = items.get(properties.nodes);
                for (let i = 0; i < clickedNodes.length; i++ ){
                    if (clickedNodes[i].id == properties.item){
                        window.open(clickedNodes[i].url,'_blank');
                    }
                }
            }
        });
    </script>




{% endblock %}