{% extends 'base_layout.html' %}
{% block content %}



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}

    <section class="content">
        <form method="post" role="form">
            {% csrf_token %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title"> Parametre Ekle </h3>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-12">

                                {% for item in business_form %}
                                <div class="form-group">
                                    <label>{{ item.label }}</label><br>
                                    {{ item }}
                                    <label for="" id="label_{{ item.name }}"></label>
                                </div>

                            {% endfor %}
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </section>

        <script>
        $(function () {
            {% if error_messages %}
                errors_messages({{ error_messages |safe }})
            {% endif %}
        });
        </script>
{% endblock %}