{% extends 'base_layout.html' %}
{% block content %}



    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}

     <section class="content-header">

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        Parametre Güncelle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section class="content">
        <form method="post" role="form">
            {% csrf_token %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title"> Parametre Güncelle </h3>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-12">

                                {% for item in business_form %}
                                    <div class="form-group">
                                        <label>{{ item.label }}</label><br>
                                        {{ item }}
                                        <label for="" id="label_{{ item.name }}"></label>
                                    </div>

                                {% endfor %}
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary" style="float: right">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </section>

    <script>
        $(function () {
            {% if error_messages %}
                errors_messages({{ error_messages |safe }})
            {% endif %}
        });
    </script>
{% endblock %}