{% extends 'base_layout.html' %}

{% block content %}

    <div class="modal modal-success modal-success-food fade in" id="modal-error" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body errorModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Yekayı Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}

    <section class="content-header">

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        YEKA Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>




    <section class="content">

        <div class="row">

            <section class="col-lg-12 ">


                <div class="card-body">

                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">YEKA LİSTESİ</h3>
                            {% for item in perm %}
                                {% if item == 'add_yeka' %}

                                    <a href="{% url "ekabis:add_yeka" %}"
                                       type="button" class="btn btn-outline-primary btn-sm" style="float: right"><i
                                            class="fa fa-plus" title="Yeni Yeka Ekle"></i>
                                    </a>

                                {% endif %}
                            {% endfor %}
                        </div>


                        <div class="card-body">

                            <table id="yeka" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tanım</th>
                                    <th>Tarih</th>
                                    <th>Kapasite</th>
                                    <th>Kaynak Türü</th>
                                    <th>İşlemler</th>


                                </tr>
                                </thead>

                                <tbody>


                                </tbody>
                            </table>


                        </div>

                    </div>


                </div>
            </section>


        </div>

    </section>
    {% load static %}
    <script>
        $(function () {

            table = $('#yeka').DataTable({

                "processing": true,
                "serverSide": true,
                "paging": true,
                "ordering": true,


                "ajax": {
                    "url": "{% url 'ekabis:view_yeka-api' %}",
                    "type": "POST",
                },
                dom: 'Bfrtip',

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Firmalar',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet'
                    },


                ],


                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },
                "columns": [
                    {"data": "id"},
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.definition;

                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.date;

                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            var html = '';
                            html = row.capacity + ' MW'
                            return html;

                        }
                    },
                    {"data": "type"},


                    {
                        "data": null,
                        render: function (full) {
                            console.log(full.content);
                            let html;
                            debugger;
                            let url_update = "{% url 'ekabis:change_yeka' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                            url_update = url_update.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);
                            {#yeka firma atama olmayacak yeka firma basvuru olacak#}
                            {#let url_company = "{% url 'ekabis:view_yeka_company' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";#}
                            {#url_company = url_company.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);#}

                            let url_person = "{% url 'ekabis:view_yeka_personel' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                            url_person = url_person.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);

                            let url_view_yeka_detail = "{% url 'ekabis:view_yeka_detail' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                            url_view_yeka_detail = url_view_yeka_detail.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);

                            let url_business = "{% url 'ekabis:view_yekabusinessBlog' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                            url_business = url_business.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);

                            let url_region = "{% url 'ekabis:view_region' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                            url_region = url_region.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);

                            let url_gant = "{% url 'ekabis:view_yekabusiness_gant' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                            url_gant = url_gant.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);
                            html = '<td><div class="btn-group">  <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown"> İşlemler  </button> <div class="dropdown-menu" role="menu">';


                            let url_delete = "deleteYeka('" + full.uuid + "')"
                            {#let yeka_report = "view_report('" + full.uuid + "')"#}


                            {% for item in perm %}
                                {% if item == 'delete_yeka'%}
                                    html += '<a onclick="' + url_delete + '" class="dropdown-item" title="Sil" type="button"><i class="fa fa-edit"></i>Sil</a>';
                                {% elif item == 'change_yeka' %}
                                    html += '<a href="' + url_update + '" class="dropdown-item" title="Düzenle" type="button"><i class="fa fa-edit"></i>Düzenle</a>';
                                {% elif item == 'view_yeka_detail' %}

                                    html += '<a href="' + url_view_yeka_detail + '" class="dropdown-item" title="Detay" type="button"><i class="fa fa-search"></i>Detay</a>';
                                    {#html += '<a onclick="' + yeka_report + '" class="dropdown-item" title="RAPOR" type="button"><i class="fa fa-list"></i>RAPOR</a>';#}

                                {% endif %}
                            {% endfor %}


                            return html;
                        }
                    }
                ],
                "search": {
                    "caseInsensitive": true
                }


            });
            table.on('draw.dt', function () {
                var info = table.page.info();
                table.column(0, {
                    search: 'applied',
                    order: 'applied',
                    page: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1 + info.start;
                });
            });


        })

        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>

    <script>
        function deleteYeka(id) {
            debugger;
            console.log(id);
            var html = ''
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "{% url "ekabis:delete_yeka" %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            uuid: id,
                        },
                        success: function (result) {
                            if (result.status === 'Fail') {


                                html = result.msg;
                                debugger;
                                $(".errorModal").html(html);
                                $('#modal-error').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "ekabis:view_yeka" %}");

                                    });

                                }).modal('show');
                                console.log(result.status)
                            } else {
                                html = 'YEKA Başarıyla Silindi';
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "ekabis:view_yeka" %}");

                                    });

                                }).modal('show');
                                console.log(result.status)

                            }

                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-delete').modal('hide');
            });

        }

        {#function view_report(id) {#}
        {##}
        {##}
        {#    $.ajax({#}
        {#        url: "{% url "ekabis:get_yeka_competition" %}",#}
        {#        type: "GET",#}
        {#        data: {#}
        {#            'csrfmiddlewaretoken': "{{  csrf_token  }}",#}
        {#            uuid: id,#}
        {#        },#}
        {#        success: function (response) {#}
        {#            const url = window.URL.createObjectURL(new Blob([response.data]));#}
        {#            const link = document.createElement('a');#}
        {#            link.href = url;#}
        {#            link.setAttribute('download', 'report.pdf');#}
        {#            document.body.appendChild(link);#}
        {#            link.click();#}
        {##}
        {#        }#}
        {#    });#}
        {##}

    </script>

    <script>
        $(document).ready(function () {

            {% if error_messages  %}
                errors_messages({{ error_messages |safe }})
            {% endif %}
        });
    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });


    </script>
{% endblock %}