{% extends 'base_layout.html' %}

{% block content %}

    <div class="modal modal-success modal-success-food fade in" id="modal-error" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body errorModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Bölgeyi Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



 {% if messages %}
        {% for message in messages %}

            <div id="toast-container"  class="toasts-top-right" >
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}

    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        ALT YEKA EKLE</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">YEKA</a></li>
                        {#              <li class="breadcrumb-item active">Advanced Form</li>#}
                    </ol>
                </div>
            </div>
        </div>

    </section>




    <section class="content">

        <div class="row">

            <section class="col-lg-12 ">


                <div class="card-body">

                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">ALT YEKALAR</h3>
                            {% for item in perm %}
                            {% if item == 'add_yeka' %}
                                        <a href="{% url "ekabis:add_sub_yeka" yeka %}"
                                           type="button" class="btn btn-outline-primary btn-sm" style="float: right"><i
                                                class="fa fa-plus" title="Alt Yeka Ekle"></i>
                                        </a>
                            {% endif %}
                        {% endfor %}
                        </div>

                        <div class="card-body">

                            <table id="subyeka" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Yeka</th>
                                    <th>Tarih</th>
                                    <th>Bölge Kapasiteleri</th>
                                    <th>Kapasite</th>
                                    <th>İşlemler</th>

                                </tr>
                                </thead>

                                <tbody>


                                {% if alt_yekalar %}
                                    {% for yeka in alt_yekalar %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ yeka.yeka.definition }}</td>
                                            <td>{{ yeka.yeka.date }}</td>
                                            <td>
                                                {% for capacity in yeka.capacities %}
                                                    <a href="{% url 'ekabis:update-region-capacity' capacity.capacity.uuid %}"
                                                       type="button" class="btn btn-outline-info btn-sm">
                                                        {{ capacity.capacity.name }}
                                                    </a>/

                                                {% endfor %}


                                            </td>

                                            <td>{{ yeka.yeka.capacity }} {{ yeka.yeka.unit.name }}</td>

                                            <td>

                                               <div class="btn-group">
                                                    <button type="button" class="btn btn-default">İşlemler</button>
                                                    <button type="button"
                                                            class="btn btn-default dropdown-toggle dropdown-icon"
                                                            data-toggle="dropdown">
                                                    </button>
                                                    <div class="dropdown-menu" role="menu">
                                                    {% for item in perm %}
                                                        {% if item == 'change_sub_yeka' %}
                                                            <a href="{% url 'ekabis:change_sub_yeka' yeka.yeka.uuid %}"
                                                               type="button" class="dropdown-item"><i
                                                                    class="fa fa-edit"></i> Düzenle
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                         {% for item in perm %}
                                                        {% if item == 'view_yekabusinessBlog' %}
                                                               <a href="{% url 'ekabis:view_yekabusinessBlog' yeka.yeka.uuid %}"
                                                                   class="dropdown-item"> <i
                                                                        class="fa fa-calendar-times" title="İş Bloğu"></i> İş Bloğu
                                                                </a>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% for item in perm %}
                                                        {% if item == 'delete_yeka' %}
                                                            <a class="dropdown-item"
                                                               data-toggle="modal"
                                                               onclick=deleteYeka('{{ yeka.yeka.uuid }}')><i
                                                                    class="fa fa-trash"></i> Sil</a>
                                                        {% endif %}
                                                    {% endfor %}


                                                    </div>
                                                </div>



                                            </td>


                                        </tr>

                                    {% endfor %}
                                {% endif %}


                                </tbody>
                            </table>


                        </div>

                    </div>


                </div>
            </section>


        </div>

    </section>
{% load static %}
    <script>
        $(function () {
            $('#subyeka').DataTable({
                dom: 'Bfrtip',



                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Yeka Firmaları',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet'
                    },


                ],
                 "search": {
                    "caseInsensitive": true,
                },
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                }
            })

        })
    </script>

    <script>
        function deleteYeka(id) {
            debugger;
            console.log(id);
            var html = ''
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "{% url "ekabis:delete_yeka" %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            uuid: id,
                        },
                        success: function (result) {
                            if (result.status === 'Fail') {


                                html = result.msg;
                                debugger;
                                $(".errorModal").html(html);
                                $('#modal-error').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "ekabis:view_yeka" %}");

                                    });

                                }).modal('show');
                                console.log(result.status)
                            } else {
                                html = 'YEKA Başarıyla Silindi';
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "ekabis:view_yeka" %}");

                                    });

                                }).modal('show');
                                console.log(result.status)

                            }

                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-active').modal('hide');
            });

        }
    </script>

    <script>
        $(document).ready(function () {

            {% if error_messages  %}
                errors_messages({{ error_messages |safe }})
            {% endif %}
        });
    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });
    </script>
{% endblock %}

