{% extends 'base_layout.html' %}

{% block content %}

    <div class="modal modal-success modal-success-food fade in" id="modal-error" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body errorModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Bölgeyi Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}


    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        {{ name }} -  Personel Ekle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>




    <section class="content">

        <div class="row">

            <section class="col-lg-12 ">
                <div class="card-body">
                    <form method="post" role="form">
                        {% csrf_token %}
                        <div class="card card-primary card-outline">
                            <div class="card-header with-border">
                                <h3 class="card-title">PERSONEL LİSTESİ</h3>
                            </div>
                            <div class="card-body">

                                <table id="persons" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Ad Soyad</th>
                                        <th>İşlem</th>

                                    </tr>
                                    </thead>

                                    <tbody>


                                    {% for employee in persons.all %}

                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ employee.person.user.first_name }} {{ employee.person.user.last_name }}</td>

                                            <td>
                                                {% for item in perm %}
                                                    {% if item == 'view_yeka_personel' %}
                                                        <input value="{{ employee.pk }}" name="employee" class=""
                                                               type="checkbox"/>
                                                        <input type="hidden" name="yeka" id="yeka" value="add">
                                                    {% endif %}
                                                {% endfor %}
                                            </td>

                                        </tr>


                                    {% endfor %}


                                    </tbody>
                                </table>


                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-primary" type="submit" style="float:right">Ekle
                                </button>

                            </div>
                        </div>

                    </form>
                 <form method="post" role="form">
                                {% csrf_token %}
                    <div class="card card-primary card-outline">

                        <div class="card-header with-border">
                            <h3 class="card-title">YEKA YETKİLİ PERSONEL</h3>
                        </div>
                        <div class="card-body">

                                <table id="yekapersons" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Ad Soyad</th>

                                        <th>İşlem</th>

                                    </tr>
                                    </thead>

                                    <tbody>


                                    {% for yeka in yeka_persons %}

                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ yeka.employee.person.user.first_name }} {{ yeka.employee.person.user.last_name }}</td>

                                            <td>
                                                {% for item in perm %}
                                                    {% if item == 'yeka_person_remove' %}

                                                        <input value="{{ yeka.employee.pk }}" name="sub_employee" class=""
                                                               type="checkbox"/>
                                                        <input type="hidden" name="yeka" id="yeka" value="sub">

                                                    {% endif %}
                                                {% endfor %}

                                            </td>


                                        </tr>


                                    {% endfor %}


                                    </tbody>
                                </table>


                        </div>
                     <div class="card-footer">
                                <button class="btn btn-outline-primary" type="submit" style="float:right">Çıkar
                                </button>

                            </div>

                    </div>
                 </form>

                </div>
            </section>


        </div>

    </section>
    {% load static %}
    <script>
        $(function () {
            {% if error_messages  %}
                errors_messages({{ error_messages |safe }})
            {% endif %}

            //Initialize Select2 Elements

            $('.select2').select2()
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
            $('#persons').DataTable({
                dom: 'Bfrtip',


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],


                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Yeka Firmaları',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır',
                         exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet',
                         exportOptions: {
                            columns: ':visible'
                        }
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet',
                         exportOptions: {
                            columns: ':visible'
                        }
                    },


                ],
                "search": {
                    "caseInsensitive": true,
                },
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                }
            })
            $('#yekapersons').DataTable({
                dom: 'Bfrtip',

                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Yeka Firmaları',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet'
                    },


                ],
                "search": {
                    "caseInsensitive": true,
                },
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
            })


        })


        {#function yeka_person_assignment(yeka_id, person_id) {#}
        {#    debugger;#}
        {#    console.log(yeka_id);#}
        {#    var html = ''#}
        {##}
        {#    $.ajax({#}
        {#        url: "{% url "ekabis:yeka_person_assignment" %}",#}
        {#        type: "POST",#}
        {#        data: {#}
        {#            'csrfmiddlewaretoken': "{{  csrf_token  }}",#}
        {#            yeka_uuid: yeka_id,#}
        {#            person_uuid: person_id#}
        {#        },#}
        {#        success: function (result) {#}
        {##}
        {#            let url = '{% url 'ekabis:view_yeka_personel' '426b982f-4793-4341-9a88-10ba4cfbc830' %}'#}
        {#            url = url.replace('426b982f-4793-4341-9a88-10ba4cfbc830', yeka_id)#}
        {#            window.location.replace(url);#}
        {##}
        {##}
        {#        }#}
        {#    });#}
        {##}
        {##}
        {#}#}
            {##}
            {#function yeka_person_remove(person_id, yeka_uuid) {#}
            {#    debugger;#}
            {##}
            {#    $.ajax({#}
            {#        url: "{% url "ekabis:yeka_person_remove" %}",#}
            {#        type: "POST",#}
            {#        data: {#}
            {#            'csrfmiddlewaretoken': "{{  csrf_token  }}",#}
            {##}
            {#            uuid: person_id,#}
            {#            yeka_uuid: yeka_uuid#}
            {#        },#}
            {#        success: function (result) {#}
            {##}
            {#            let url = '{% url 'ekabis:view_yeka_personel' '426b982f-4793-4341-9a88-10ba4cfbc830' %}'#}
            {#            url = url.replace('426b982f-4793-4341-9a88-10ba4cfbc830', yeka_uuid)#}
            {#            window.location.replace(url);#}
            {##}
            {##}
            {#        }#}
            {#    });#}
            {##}
            {##}
            {
        #}#}

    </script>
{% endblock %}