{% extends 'base_layout.html' %}

{% block content %}

    <div class="modal modal-success modal-success-food fade in" id="modal-error" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body errorModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Bölgeyi Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}


    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        YEKA</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">YEKA</a></li>
                        {#              <li class="breadcrumb-item active">Advanced Form</li>#}
                    </ol>
                </div>
            </div>
        </div>

    </section>




    <section class="content">

        <div class="row">

            <section class="col-lg-12 ">


                <div class="card-body">

                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">PERSONEL LİSTESİ</h3>
                        </div>
                        <div class="card-body">

                            <table id="persons" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Ad Soyad</th>
                                    <th>Unvan</th>
                                    <th>Görevlendir</th>

                                </tr>
                                </thead>

                                <tbody>


                                {% for employee in persons.all %}

                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ employee.user.first_name }} {{ employee.user.last_name }}</td>
                                        <td>{{ employee.workDefinition }}</td>
                                        <td>
                                            <a onclick="yeka_person_assignment('{{ yeka_uuid }}','{{ employee.uuid }}')"
                                               type="button" class="btn btn-primary"><i
                                                    class="fa fa-plus"></i> Görevlendir
                                            </a>

                                        </td>

                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>


                        </div>

                        {% if yeka_persons %}
                            <div class="card-header with-border">
                                <h3 class="card-title">YEKA PERSONEL LİSTESİ</h3>
                            </div>
                            <div class="card-body">

                                <table id="yekapersons" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Ad Soyad</th>
                                        <th>Unvan</th>
                                        <th>İşlem</th>

                                    </tr>
                                    </thead>

                                    <tbody>


                                    {% for yeka in yeka_persons %}

                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ yeka.employee.user.first_name }} {{ yeka.employee.user.last_name }}</td>
                                            <td>{{ yeka.employee.workDefinition }}</td>
                                            <td>
                                                {% for item in perm %}
                                                    {% if item == 'yeka_person_remove' %}
                                                        <a onclick="yeka_person_remove('{{ yeka.employee.uuid }}','{{ yeka.uuid }}')"
                                                           type="button" class="btn btn-danger"><i
                                                                class="fa fa-times"></i> Yekadan Çıkar
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}

                                            </td>


                                        </tr>


                                    {% endfor %}


                                    </tbody>
                                </table>


                            </div>

                        {% endif %}
                    </div>


                </div>
            </section>


        </div>

    </section>

    <script>
        $(function () {
            $('#persons').DataTable({
                dom: 'Bfrtip',

                language: {
                    buttons: {
                        pageLength: {
                            _: " %d  Tane Seçili",
                            '-1': "Hepsi Seçili"
                        }
                    }
                },

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                buttons: [

                    {#'copy',#}
                    {#'csv',#}

                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: '<i class=" fa  fa-th-list"></i>',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Personeller  ',
                        text: '<i class="fa  fa-print"></i>',
                        exportOptions: {
                            columns: [0, 1, ':visible']
                        },
                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        exportOptions: {
                            columns: [0, 1, ':visible']
                        },
                        titleAttr: 'Pfd Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        title: 'Ekabis',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        messageTop: 'Personeller',
                        {#footer: true,#}
                        exportOptions: {
                            {#     yer degisimi de yapilabilir.#}
                            columns: [0, 1, ':visible']

                        },
                        titleAttr: 'Excel Kaydet'
                    },
                    {
                        text: '<i class="fa fa-file-text-o"></i>',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Firmalar.json'
                            );
                        }
                    }


                ],
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
            })
            $('#yekapersons').DataTable({
                dom: 'Bfrtip',

                language: {
                    buttons: {
                        pageLength: {
                            _: " %d  Tane Seçili",
                            '-1': "Hepsi Seçili"
                        }
                    }
                },

                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                buttons: [

                    {#'copy',#}
                    {#'csv',#}

                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: '<i class=" fa  fa-th-list"></i>',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'YEKA Personelleri  ',
                        text: '<i class="fa  fa-print"></i>',
                        exportOptions: {
                            columns: [0, 1, ':visible']
                        },
                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        exportOptions: {
                            columns: [0, 1, ':visible']
                        },
                        titleAttr: 'Pfd Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        title: 'Ekabis',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        messageTop: 'Yeka Personelleri',
                        {#footer: true,#}
                        exportOptions: {
                            {#     yer degisimi de yapilabilir.#}
                            columns: [0, 1, ':visible']

                        },
                        titleAttr: 'Excel Kaydet'
                    },
                    {
                        text: '<i class="fa fa-file-text-o"></i>',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Firmalar.json'
                            );
                        }
                    }


                ],
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
            })


        })
    </script>

    <script>

        function yeka_person_assignment(yeka_id, person_id) {
            debugger;
            console.log(yeka_id);
            var html = ''

            $.ajax({
                url: "{% url "ekabis:yeka_person_assignment" %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    yeka_uuid: yeka_id,
                    person_uuid: person_id
                },
                success: function (result) {

                    window.location.replace("{% url "ekabis:view_yeka" %}");


                }
            });


        }

        function yeka_person_remove(person_id, yeka_uuid) {
            debugger;

            $.ajax({
                url: "{% url "ekabis:yeka_person_remove" %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",

                    uuid: person_id,
                    yeka_uuid: yeka_uuid
                },
                success: function (result) {

                    window.location.replace("{% url "ekabis:view_yeka" %}");


                }
            });


        }
    </script>

    <script>
        $(document).ready(function () {

            {% if error_messages  %}
                errors_messages({{ error_messages |safe }})
            {% endif %}
        });
    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });
    </script>
{% endblock %}

