{% extends 'base_layout.html' %}
{% block content %}
    {% load static %}
    <script src="{% static 'vis/dist/cytoscape.min.js' %}"></script>
    <script src="{% static 'vis/dist/cytoscape-cxtmenu.js' %}"></script>
    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Yeka Yarışmasını Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-danger fade in node" tabindex="-1" role="dialog" id="modal-detail"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header primary" id="block_title">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body" id="">
                    <div class="card">
                        <div class="card-header" id="block_header">
                        </div>
                        <!-- /.card-header -->
                        <div class="row card-body" id="block_detail">

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}

    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
        }

        #cy {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 999;
        }


        /* you can set the disabled style how you like on the text/icon */
        .cxtmenu-disabled {
            opacity: 0.333;
        }
    </style>

    <script>

        window.addEventListener('DOMContentLoaded', function () {
            debugger;
            var demoNodes = [];
            var demoEdges = [];
            {% for blok in bloks %}
                demoNodes.push({

                    data: {

                        id: '{{ blok.yekabusinessblog.id }}',
                        name: '{{ blok.yekabusinessblog.businessblog.name }}',
                        yeka: '{{ blok.yeka }}',
                        business: '{{ yeka.business.uuid }}',
                        yekabusinessblog: '{{ blok.yekabusinessblog.uuid }}',
                        businessblog: '{{ blok.businessblog }}',
                        startDate: '{{ blok.yekabusinessblog.startDate.date }}',
                        finishDate: '{{ blok.yekabusinessblog.finisDate.date }}',
                        businessTime: '{{ blok.yekabusinessblog.businessTime }}',
                        time_type: '{{ blok.yekabusinessblog.time_type }}',
                        status: '{{ blok.yekabusinessblog.status }}',
                        html: '{{ blok.html |safe }}',
                        classes: 'autorotate',


                    },

                });
            {% endfor %}
            {% for item in yekabusinessbloks %}
                {% if item.dependence_parent %}
                    demoEdges.push({

                        data: {
                            classes: 'autorotate',
                            source: '{{ item.id}}',
                            target: '{{item.dependence_parent.id}}'
                        }
                    });
                {% endif %}

            {% endfor %}


            var cy = window.cy = cytoscape({

                container: document.getElementById('cy'),

                ready: function () {


                },

                layout: {
                    name: 'grid',
                    cols: 3
                },


                style: [

                    {
                        selector: 'node',

                        css: {

                            'content': 'data(name)',
                            'text-valign': 'bottom',
                            'color': 'white',
                            'text-outline-width': 2,
                            'text-outline-color': '#888',
                            'background-color': '#888'
                        }
                    },

                    {
                        selector: 'edge',
                        css: {
                            "edge-text-rotation": "autorotate",
                            'curve-style': 'bezier',
                            'target-arrow-shape': 'triangle'

                        }
                    },
                    {
                        selector: ".autorotate",
                        style: {
                            "edge-text-rotation": "autorotate",
                            'content': 'dasddasd',
                        }
                    },
                ],


                elements: {
                    nodes: demoNodes,
                    edges: demoEdges
                }
            });


            cy.cxtmenu({
                ready: function () {

                    console.log("buradayım");

                },

                selector: 'node, edge',

                commands: [

                    {
                        content: '<span class="fa fa-search fa-2x"></span>',
                        select: function (ele) {
                            debugger;

                            let html = '';
                            html += '<div class="col-md-6">';
                            html += '<div class="form-group"> <label for="exampleInputEmail1">Başlangıç Tarihi : </label>  ' + this.data('startDate') + '  </div>';
                            html += '<div class="form-group"> <label for="exampleInputEmail1">Bitiş Tarihi : </label> ' + this.data('finishDate') + '  </div>';
                            if (this.data('status')) {
                                html += '<div class="form-group"> <label>Durumu : </label> Devam Ediyor </div>';

                            } else {
                                html += '<div class="form-group"> <label>Durumu : </label> Tamamlandı</div>';

                            }
                            if (this.data('indefinite')) {
                                html += '<div class="form-group"> <label>Süre Türü : </label> Süresiz</div></div>';

                            } else {
                                html += '<div class="form-group"> <label>Süre Türü : </label> Süreli</div></div>';

                            }
                            html += '</div>';
                            if (this.data('html')) {
                                html += '<div class="col-md-6">';
                                html += this.data('html');
                                html += '</div>';

                            }


                            let html2 = ''
                            html2 = '<div class="btn-group" role="group" aria-label="Basic example">';

                            let add_extratime = "{% url 'ekabis:add_extratime' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                            add_extratime = add_extratime.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                            add_extratime = add_extratime.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                            html2 += '<a class="btn btn-secondary" href="' + add_extratime + '" type="button" style="float:right;margin-right: 5px;">Ek Süre Ekle</a>';

                            if (this.data('name') === 'Kabuller') {
                                let view_yeka_accept = "{% url 'ekabis:view_yeka_accept' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                view_yeka_accept = view_yeka_accept.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                view_yeka_accept = view_yeka_accept.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + view_yeka_accept + '" type="button" style="float:right">Kabuller</a>';

                            }
                          else  if (this.data('name') === 'Resmi Gazete İlanı') {
                                let add_newspaper = "{% url 'ekabis:add_newspaper' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                add_newspaper = add_newspaper.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                add_newspaper = add_newspaper.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + add_newspaper + '" type="button" style="float:right">Gazete Ekle</a>';

                            }
                           else if (this.data('name') === 'Yarışmanın Yapılması') {
                                let change_competition = "{% url 'ekabis:change_competition' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                change_competition = change_competition.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                change_competition = change_competition.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + change_competition + '" type="button" style="float:right">Yarışma Ayarları</a>';

                            }
                          else  if (this.data('name') === 'YEKA Kullanım Hakkı Sözleşmesinin İmzalanması') {
                                let change_yekacontract = "{% url 'ekabis:change_yekacontract' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                change_yekacontract = change_yekacontract.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                change_yekacontract = change_yekacontract.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + change_yekacontract + '" type="button" style="float:right">Sözleşme</a>';

                            }
                          else  if (this.data('name') === 'Aday YEKA Önerilmesi') {
                                let change_yekaproposal = "{% url 'ekabis:change_yekaproposal' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                change_yekaproposal = change_yekaproposal.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                change_yekaproposal = change_yekaproposal.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + change_yekaproposal + '" type="button" style="float:right">Aday YEKALAR</a>';

                            }
                          else  if (this.data('name') === 'ADAY YEKA Kurum Görüşlerinin Alınması') {
                                let change_yekaproposal = "{% url 'ekabis:change_yekaproposal' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                change_yekaproposal = change_yekaproposal.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                change_yekaproposal = change_yekaproposal.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + change_yekaproposal + '" type="button" style="float:right">Aday Yeka Kurum Görüşleri</a>';
                                let change_proposal_active = " {% url 'ekabis:change_proposal_active' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                change_proposal_active = change_proposal_active.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                change_proposal_active = change_proposal_active.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + change_proposal_active + '" type="button" style="float:right;">YEKA Kurum Ayarları</a>';


                            }
                          else  if (this.data('name') === 'Fabrika Kurulumu') {
                                let view_yeka_factory = "{% url 'ekabis:view_yeka_factory' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                view_yeka_factory = view_yeka_factory.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                view_yeka_factory = view_yeka_factory.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + view_yeka_factory + '" type="button" style="float:right">Fabrikalar</a>';

                            }
                           else if (this.data('name') === 'Ön Lisans Süreci') {
                                let view_yeka_associate_degree_file = "{% url 'ekabis:view_yeka_associate_degree_file' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                view_yeka_associate_degree_file = view_yeka_associate_degree_file.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                view_yeka_associate_degree_file = view_yeka_associate_degree_file.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + view_yeka_associate_degree_file + '" type="button" style="float:right">Ön Lisans Belgeleri</a>';

                            }
                           else  if (this.data('name') === 'Başvurunun Alınması') {
                                let view_application = "{% url 'ekabis:view_application' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                view_application = view_application.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                view_application = view_application.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + view_application + '" type="button" style="float:right">Başvurular</a>';
                                let add_yekaapplication = " {% url 'ekabis:add_yekaapplication' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                add_yekaapplication = add_yekaapplication.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                add_yekaapplication = add_yekaapplication.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + add_yekaapplication + '" type="button" style="float:right;margin-left: 5px;">Başvuru Ayarları</a>';


                            }
                            else if (this.data('name') === 'Proje Yetkili Temsilcisinin Atanması') {
                                let view_yeka_user = "{% url 'ekabis:view_yeka_user' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' %}";
                                view_yeka_user = view_yeka_user.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('business'))
                                view_yeka_user = view_yeka_user.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                                html2 += '<a class="btn btn-secondary" href="' + view_yeka_user + '" type="button" style="float:right">Yetkili Listesi</a>';

                            }


                            html2 += '</div>';
                            let html3 = '<h4 class="modal-title"  >' + this.data('name') + '</h4>';
                            document.getElementById('block_header').innerHTML = html2;
                            document.getElementById('block_detail').innerHTML = html;
                            document.getElementById('block_title').innerHTML = html3;

                            $('#modal-detail').modal('show');


                        },
                    },

                    {
                        content: 'Düzenle',

                        select: function (ele) {
                            debugger;
                            console.log(ele.position());
                            let url_update = "{% url 'ekabis:change_yekacompetitionbusinessBlog' '7729c6ee-739d-4a89-8ffe-1357e691ca16' '7729c6ee-739d-4a89-8ffe-1357e691ca17' '7729c6ee-739d-4a89-8ffe-1357e691ca18' %}";
                            url_update = url_update.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', this.data('yeka'))
                            url_update = url_update.replace('7729c6ee-739d-4a89-8ffe-1357e691ca17', this.data('yekabusinessblog'))
                            url_update = url_update.replace('7729c6ee-739d-4a89-8ffe-1357e691ca18', this.data('businessblog'))
                            window.location.replace(url_update);
                        }
                    },


                ]
            });


            var layout = cy.layout({
                name: 'breadthfirst'
            });

            cy.cxtmenu({
                selector: 'core',

                commands: [
                    {
                        content: 'bg1',
                        select: function () {
                            console.log('bg1');
                        }
                    },

                    {
                        content: 'bg2',
                        select: function () {
                            console.log('bg2');
                        }
                    }
                ]
            });

        });
    </script>
    <section class="content-header">

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        {{ name }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>

    <section class="content">
        {#      iş blokları#}
        <div class="row">

            <section class="col-lg-12 ">

                <div class="card card-primary card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title">Yarışma Detay Sayfası</h3>
                    </div>


                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8">
                                {#                        alt yeka#}
                                <div class="card card-default card-outline">
                                    <div class="card-header with-border">
                                        <h3 class="card-title">Alt YEKA Listesi</h3>
                                        {% for item in perm %}
                                            {% if item == 'add_sumcompetition' %}

                                                <a href="{% url "ekabis:add_sumcompetition" yeka.uuid %}"
                                                   title="Alt Yeka Yarışması Ekle"
                                                   type="button" class="btn btn-outline-primary btn-sm"
                                                   style="float: right"><i
                                                        class="fa fa-plus"></i>
                                                </a>


                                            {% endif %}
                                        {% endfor %}
                                    </div>


                                    <div class="card-body">

                                        <table id="region" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Yarışma Tanımı</th>
                                                <th>Kapasite</th>
                                                <th>İşlemler</th>

                                            </tr>
                                            </thead>

                                            <tbody>

                                            {% for competition in competitions %}
                                                <tr>
                                                    <td>{{ forloop.counter }} </td>
                                                    <td>{{ competition.name }}</td>
                                                    <td>{{ competition.capacity }} MW</td>
                                                    <td>

                                                        <div class="btn-group">
                                                            <button type="button"
                                                                    class="btn btn-default dropdown-toggle dropdown-icon"
                                                                    data-toggle="dropdown"> İşlemler
                                                            </button>
                                                            <div class="dropdown-menu" role="menu">

                                                                <a href="{% url "ekabis:view_yekacompetition_personel" competition.uuid %}"
                                                                   class="dropdown-item" title="Personel Ekle"
                                                                   type="button"><i class="fa fa-plus"></i>Personel
                                                                    Ekle</a>

                                                                <a href="{% url "ekabis:view_competitionbusinessblog" competition.uuid %}"
                                                                   class="dropdown-item" title="İş Planı Ekle"
                                                                   type="button"><i class="fa fa-edit"></i>İş Planı</a>

                                                                <a onclick="deleteCompetition('{{ competition.uuid }}')"
                                                                   class="dropdown-item" title="Sil"
                                                                   type="button"><i
                                                                        class="fa fa-edit"></i>Sil</a>
                                                                <a href="{% url "ekabis:change_sumcompetition" competition.uuid %}"
                                                                   class="dropdown-item" title="Düzenle "
                                                                   type="button"><i
                                                                        class="fa fa-edit"></i>Düzenle </a>

                                                                <a href="{% url "ekabis:view_sub_yeka_competition_detail" competition.uuid %}"
                                                                   class="dropdown-item" title="Detay"
                                                                   type="button"><i
                                                                        class="fa fa-search"></i>Detay </a>


                                                            </div>
                                                        </div>


                                                </tr>

                                            {% endfor %}


                                            </tbody>
                                        </table>


                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4">
                             <div class="card card-default card-outline">
                                    <div class="card-header with-border">
                                        <h3 class="card-title">YEKA Yarışma Bilgileri</h3>
                                        {% for item in perm %}
                                            {% if item == 'change_competition' %}
                                                <a href="{% url "ekabis:change_competition" region.uuid yeka.uuid %}" title="Yeka Düzenle"
                                                   type="button" class="btn btn-outline-primary btn-sm"
                                                   style="float: right"><i
                                                        class="fa fa-edit"></i>
                                                </a>
                                            {% endif %}
                                        {% endfor %}

                                    </div>

                                    <div class="card-body">
                                        <p class="text-muted" style="font-size: 16px;"><b>Tanım :</b> {{ yeka.name }}</p>
                                        <p class="text-muted" style="font-size: 16px;"><b>Kapasite :</b> {{ yeka.capacity }} MWe</p>


                                    </div>
                                </div>
                                <div class="card card-default card-outline">
                                    <div class="card-header with-border">
                                        <h3 class="card-title">Görevli Personel Listesi</h3>
                                        {% for item in perm %}
                                            {% if item == 'view_yekacompetition_personel' %}
                                                <a href="{% url "ekabis:view_yekacompetition_personel" yeka.uuid %}"
                                                   title="Personel Ekle"
                                                   type="button" class="btn btn-outline-primary btn-sm"
                                                   style="float: right"><i
                                                        class="fa fa-plus"></i>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>


                                    <div class="card-body">

                                        <table id="region" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Ad Soyad</th>

                                            </tr>
                                            </thead>

                                            <tbody>

                                            {% for employee in employees %}
                                                <tr>
                                                    <td>{{ forloop.counter }} </td>
                                                    <td>{{ employee.employee.user.first_name }} {{ employee.employee.user.last_name }}</td>

                                                </tr>

                                            {% endfor %}


                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>

                            {#personel Listesi#}

                        </div>

                    </div>

                </div>
            </section>
        </div>
        <div class="row">
            <section class="col-lg-12 ">
                <div class="card card-default card-outline">
                    <div class="card-header with-border"><h3 class="card-title">İş Blokları</h3></div>
                    <div class="card-body" style="height: 500px">
                        <div id="cy"></div>

                    </div>
                </div>
            </section>


        </div>
    </section>
    <script>


        function view_competition(id) {
            var html = 'competition_table'
            $('#competition').css("display", "block");

            table = $('#competition_table').DataTable();
            table.destroy();


            $('#competition_table').DataTable({
                "processing": true,
                "serverSide": true,
                "paging": true,
                "ordering": true,


                "ajax": {
                    "url": "{% url 'ekabis:view_competition_api' %}",
                    "type": "POST",
                    "data": {
                        'csrfmiddlewaretoken': "{{  csrf_token  }}",
                        'isActive': 'False',
                        'uuid': id
                    },

                },
                dom: 'Bfrtip',

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Firmalar',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet'
                    },


                ],


                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },
                "columns": [

                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.id;

                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.name;

                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            var html = '';
                            html = row.capacity + ' MW'
                            return html;

                        }
                    },
                    {
                        "data": null,
                        render: function (full) {
                            console.log(full.content);
                            let html = '';
                            let view_yekacompetition_personel = "{% url 'ekabis:view_yekacompetition_personel' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                            view_yekacompetition_personel = view_yekacompetition_personel.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);
                            let view_competitionbusinessblog = "{% url 'ekabis:view_competitionbusinessblog' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                            view_competitionbusinessblog = view_competitionbusinessblog.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);

                            let view_sub_competition = "{% url 'ekabis:view_sub_competition' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                            view_sub_competition = view_sub_competition.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);

                            let view_yekacompeittion_business_gant = "{% url 'ekabis:view_yekacompeittion_business_gant' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                            view_yekacompeittion_business_gant = view_yekacompeittion_business_gant.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);
                            html = '<td><div class="btn-group">  <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown"> İşlemler  </button> <div class="dropdown-menu" role="menu">';
                            let url_delete = "deleteCompetition('" + full.uuid + "')"


                            {% for item in perm %}
                                {% if item == 'view_yekacompetition_personel'%}
                                    html += '<a href="' + view_yekacompetition_personel + '" class="dropdown-item" title="Personel Yetkilendirme" type="button"><i class="fa fa-plus"></i> Personel Ekle</a>';

                                {% elif item == 'view_competitionbusinessblog'%}
                                    html += '<a href="' + view_competitionbusinessblog + '" class="dropdown-item" title="İş Planı" type="button"><i class="fa fa-plus"></i> İş Planı</a>';
                                {% elif item == 'view_sub_competition'%}
                                    html += '<a href="' + view_sub_competition + '" class="dropdown-item" title="Alt YEKA Listesi" type="button"><i class="fa fa-plus"></i> Alt YEKA Listesi</a>';
                                {% elif item == 'view_yekacompeittion_business_gant'%}
                                    html += '<a href="' + view_yekacompeittion_business_gant + '" class="dropdown-item" title="Gant Şeması" type="button"><i class="fa fa-plus"></i> Gant Şeması</a>';
                                {% elif item == 'view_yekacompeittion_business_gant'%}
                                    html += '<a href="' + view_yekacompeittion_business_gant + '" class="dropdown-item" title="Gant Şeması" type="button"><i class="fa fa-plus"></i> Gant Şeması</a>';

                                {% elif item == 'delete_competition'%}
                                    html += '<a onclick="' + url_delete + '" class="dropdown-item" title="Sil" type="button"><i class="fa fa-edit"></i>Sil</a>';

                                {% endif %}
                            {% endfor %}


                            return html;
                        }
                    },


                ],
                "search": {
                    "caseInsensitive": true
                }


            });
            table.on('draw.dt', function () {
                var info = table.page.info();
                table.column(0, {
                    search: 'applied',
                    order: 'applied',
                    page: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1 + info.start;
                });
            });


        }

        function deleteRegion(id) {
            var html = ''
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    debugger;

                    $.ajax({
                        url: "{% url "ekabis:delete_region"%}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False',
                            uuid: id
                        },

                        success: function (result) {
                            if (result.status === 'Fail') {


                                html = result.msg;
                                debugger;
                                $(".errorModal").html(html);
                                $('#modal-error').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "ekabis:view_region" yeka.uuid %}");

                                    });

                                }).modal('show');
                                console.log(result.status)
                            } else {
                                html = 'Bölge Başarıyla Silindi';
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "ekabis:view_region" yeka.uuid %}");

                                    });

                                }).modal('show');
                                console.log(result.status)

                            }

                        },


                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        }

        function deleteCompetition(id) {
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    debugger;

                    $.ajax({
                        url: "{% url "ekabis:delete_competition"%}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False',
                            uuid: id.toString()
                        },

                        success: function (result) {
                            if (result.status === 'Fail') {


                                html = result.msg;
                                debugger;
                                $(".errorModal").html(html);
                                $('#modal-error').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {


                                    });

                                }).modal('show');
                                console.log(result.status)
                            } else {
                                html = 'Yarışma Başarıyla Silindi';
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {


                                    });

                                }).modal('show');
                                console.log(result.status)

                            }

                        },


                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        }

    </script>


{% endblock %}