{% extends 'base_layout.html' %}
{% block content %}

    <style>

        #right {
            height: 500px;
            margin-top: 10px;
            padding-top: 10px;
            background-color: #037BFF;
        }

        #left {

            margin-top: 10px;
            padding-top: 10px;
            background-color: #037BFF;
        }

    </style>


    {% if messages %}
        {% for message in messages %}

            <div id="toast-container"  class="toasts-top-right" >
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}
<section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                       Yeka Yarışması İş Bloğu Güncelle</h1>
                </div>
                 <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section class="content">
        <form method="Post" role="form" onsubmit="businesscontrol()">

            {% csrf_token %}

            <input type="hidden" id="businessblog" name="businessblog" value="">


            <div class="row">


                <div class="col-lg-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title"> Yeka Yarışması İş Blogu Guncelle </h3>
                        </div>
                        <div class="card-body">

                            {{ business_form }}


                        </div>
                    </div>



                        <div class="card card-primary card-outline">
                            <div class="card-header with-border">
                                <h3 class="card-title"> İş Blogu Guncelle </h3>
                            </div>
                            <div class="card-body">


                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="list-group mt-auto" id="left">
                                            {% for busi in unbusiness %}
                                                <li class="list-group-item" value="{{ busi.pk }}">{{ busi.name }}</li>
                                            {% endfor %}

                                        </ul>
                                    </div>

                                    <div class="col-lg-6">
                                        <ul class="list-group mt-auto" id="right">
                                            {% for busi in business %}
                                                <li class="list-group-item"
                                                    value="{{ busi.pk }}">{{ busi.sorting }}**{{ busi.businessblog.name }}**{{ busi.parent.businessblog.name }}</li>
                                            {% endfor %}

                                        </ul>
                                    </div>

                                </div>
                               <div class="card-footer">
                                        <button class="btn btn-outline-primary" type="submit" style="float:right">Kaydet</button>
                                    <small style="color: red">(*)Olan Alanlar zorunludur.</small>

                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </form>
    </section>
    <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>

    <script>
        $(function () {
            Sortable.create(left, {
                animation: 100,
                group: 'list-1',
                draggable: '.list-group-item',
                handle: '.list-group-item',
                filter: '.sortable-disabled',
                chosenClass: 'active',
                removeCloneOnHide: false,
            });

            Sortable.create(right, {
                group: 'list-1',
                handle: '.list-group-item',

                setData: function (/** DataTransfer */dataTransfer, /** HTMLElement*/dragEl) {
                    dataTransfer.setData('Text', dragEl.textContent); // `dataTransfer` object of HTML5 DragEvent
                    console.log('setdata')
                    console.log(dataTransfer)
                },

                // Element is chosen
                onChoose: function (/**Event*/evt) {
                    evt.oldIndex;  // element index within parent
                    console.log('onchoose')
                    console.log(evt)
                },


                onUnchoose: function (/**Event*/evt) {
                    // same properties as onEnd
                    console.log('onunckoose')
                    console.log(evt)
                },

                // Element dragging started
                onStart: function (/**Event*/evt) {
                    evt.oldIndex;  // element index within parent
                    console.log('onstart')
                    console.log(evt)
                },

                // Element dragging ended
                onEnd: function (/**Event*/evt) {
                    var itemEl = evt.item;  // dragged HTMLElement
                    evt.to;    // target list
                    evt.from;  // previous list
                    evt.oldIndex;  // element's old index within old parent
                    evt.newIndex;  // element's new index within new parent
                    evt.oldDraggableIndex; // element's old index within old parent, only counting draggable elements
                    evt.newDraggableIndex; // element's new index within new parent, only counting draggable elements
                    evt.clone // the clone element
                    evt.pullMode;  // when item is in another sortable: `"clone"` if cloning, `true` if moving

                    console.log('onend')
                    console.log(evt)
                },

                // Element is dropped into the list from another list
                onAdd: function (/**Event*/evt) {
                    // same properties as onEnd
                    console.log('onadd')
                    console.log(evt)
                },

                // Changed sorting within list
                onUpdate: function (/**Event*/evt) {
                    // same properties as onEnd
                    console.log('onupdate')
                    console.log(evt)
                },

                // Called by any change to the list (add / update / remove)
                onSort: function (/**Event*/evt) {
                    // same properties as onEnd
                    console.log('onshort')
                    console.log(evt)
                },

                // Element is removed from the list into another list
                onRemove: function (/**Event*/evt) {
                    // same properties as onEnd
                    console.log('onremove')
                    console.log(evt)
                },

                // Attempt to drag a filtered element
                onFilter: function (/**Event*/evt) {
                    var itemEl = evt.item;  // HTMLElement receiving the `mousedown|tapstart` event.
                    console.log('onfilter')
                    console.log(evt)
                },

                // Event when you move an item in the list or between lists
                onMove: function (/**Event*/evt, /**Event*/originalEvent) {
                    // Example: https://jsbin.com/nawahef/edit?js,output
                    evt.dragged; // dragged HTMLElement
                    evt.draggedRect; // DOMRect {left, top, right, bottom}
                    evt.related; // HTMLElement on which have guided
                    evt.relatedRect; // DOMRect
                    evt.willInsertAfter; // Boolean that is true if Sortable will insert drag element after target by default
                    originalEvent.clientY; // mouse position
                    // return false; — for cancel
                    // return -1; — insert before target
                    // return 1; — insert after target
                    // return true; — keep default insertion point based on the direction
                    // return void; — keep default insertion point based on the direction
                    console.log('onmove')
                    console.log(evt)
                },

                // Called when creating a clone of element
                onClone: function (/**Event*/evt) {
                    var origEl = evt.item;
                    var cloneEl = evt.clone;
                    console.log('onclone')
                    console.log(evt)
                },

                // Called when dragging element changes position
                onChange: function (/**Event*/evt) {
                    evt.newIndex // most likely why this event is used is to get the dragging element's current index
                    // same properties as onEnd
                    console.log('onchange')
                    console.log(evt)
                }
            });
        });

        function businesscontrol() {
            var liArr = [];
            var businessblog = $("#businessblog");


            $('#right li').each(function () {
                console.log($(this));
                var current = $(this).val();
                console.log(current);
                liArr.push(current);

            })


            businessblog.val(liArr.join('-'));
            debugger
        };


    </script>
{% endblock %}