{% extends 'base_layout.html' %}

{% block content %}
    {% load static %}


    <div class="modal modal-success modal-success-food fade in" id="modal-error" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body errorModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>
    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        {{ name }} - Kabul Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section class="content">
        <div class="row">
            <section class="col-lg-12 ">
                <div class="card-body">


                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title"> Kabul
                                Listesi</h3>
                            {% for item in perm %}
                                {% if item == 'add_yeka_accept' %}

                                    <a href="{% url "ekabis:add_yeka_accept" accept.uuid %}"
                                       type="button" class="btn btn-outline-primary btn-sm" style="float: right"><i
                                            class="fa fa-plus" title="Yeni Kabul Ekle"></i>
                                    </a>

                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="card-body">
                            <table style="width: 100%" id="accept" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Kabul Tarihi</th>
                                    <th>Kabul Tutanağı</th>
                                    <th>İşletmedeki Mekanik Güç (MW<sub>m</sub>)</th>
                                    <th>İşletmedeki Elektiriksel Güç (MW<sub>e</sub>)</th>
                                    <th>İşlemler</th>


                                </tr>
                                </thead>
                                <tbody>

                                {% for item in accept_accepts|dictsort:"date" %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ item.date }}</td>
                                        <td>{% if item.report %}
                                            <a target="_blank" title="{{ item.report }}"
                                               href=" {{ MEDIA_URL }}{{ item.report.url }}"
                                               download="">{{ item.report | truncatechars:20 }}</a></td>
                                        {% endif %}

                                        <td>
                                            {{ item.installedPower }}
                                        </td>
                                        <td>
                                            {{ item.currentPower }}
                                        </td>
                                        <td>
                                            <div class="btn-group">

                                                <button type="button"
                                                        class="btn btn-default dropdown-toggle dropdown-icon"
                                                        data-toggle="dropdown"> İşlemler
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    {% for p in perm %}
                                                        {% if p == 'change_yeka_accept' %}
                                                            <a href="{% url 'ekabis:change_yeka_accept' item.uuid accept.uuid %}"
                                                               class="dropdown-item"> <i
                                                                    class="fa fa-edit" title="Düzenle"></i> Düzenle
                                                            </a>
                                                        {% endif %}
                                                        {% if p == 'delete_accept' %}
                                                            <a class="dropdown-item" href=""
                                                               data-toggle="modal"
                                                               onclick="deleteAccept('{{ item.uuid }}')"><i
                                                                    class="fa fa-trash"></i>Sil</a>

                                                        {% endif %}
                                                    {% endfor %}


                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="3" style="text-align:right">Toplam:</th>

                                    <th style="text-align:left"></th>
                                    <th style="text-align:left"></th>
                                    <th></th>
                                </tr>

                                </tfoot>
                                {#                                <tfoot>#}
                                {#                                <tr>#}
                                {#                                    <th colspan="3" style="text-align:right">Toplam Güç :</th>#}
                                {#                                    <td>{{ total_installed_power }} (MW<sub>m</sub>)</td>#}
                                {#                                    <td>{{ total_current_power }} (MW<sub>e</sub>)</td>#}
                                {#                                    <td></td>#}
                                {#                                </tr>#}
                                {#                                </tfoot>#}

                            </table>

                        </div>
                    </div>
                    <!-- /.card -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>
    {% load  static %}
    <script>
        $(function () {
            table = $('#accept').DataTable({
                dom: 'Bfrtip',


                lengthMenu: [
                    [100, 150, -1],
                    ['100 tane', '150 tane ', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'YEKA LİSTESİ',
                        text: '<i class="fa fa-print"></i>',
                        exportOptions: {
                            columns: ':visible'
                        },
                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },


                ],
                "search": {
                    "caseInsensitive": true,
                },
                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api()

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    var intVal2 = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(4, {page: 'current'})
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    total2 = api
                        .column(3)
                        .data()
                        .reduce(function (a, b) {
                            return intVal2(a) + intVal2(b);
                        }, 0);

                    // Total over this page
                    pageTotal2 = api
                        .column(3, {page: 'current'})
                        .data()
                        .reduce(function (a, b) {
                            return intVal2(a) + intVal2(b);
                        }, 0);


                    $(api.column(4).footer()).html(
                        '' + pageTotal.toFixed(2) + ' ( MWe)'
                    );
                    $(api.column(3).footer()).html(
                        '' + pageTotal2.toFixed(2) + ' (MWm)'
                    );

                },


                'lengthChange': true,
                'searching': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
            })
            table2.on('draw.dt', function () {
                debugger;
                table2.column(0, {
                    search: 'applied',
                    order: 'applied',
                    page: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1 ;
                });
            });


        })
    </script>

    <script>  function deleteAccept(id) {
        debugger;
        console.log(id);
        var html = ''
        $("#modal-delete").on("shown.bs.modal", function (e) {
            $("#btn-conf1").click(function () {
                $.ajax({
                    url: "{% url "ekabis:delete_accept" %}",
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': "{{  csrf_token  }}",
                        uuid: id,
                    },
                    success: function (result) {

                        html = 'Kabul Başarıyla Silindi';
                        debugger;
                        $(".successModal").html(html);
                        $('#modal-success').on("shown.bs.modal", function (e) {
                            $(".btn-ok").click(function () {

                                window.location.reload();

                            });

                        }).modal('show');

                        console.log(result.status)
                    }
                });
            });
        }).modal('show');
        $('#btn-close1').click(function () {
            $('#modal-active').modal('hide');
        });

    }</script>
{% endblock %}

