{% extends 'base_layout.html' %}

{% block content %}




    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>
    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{ yekabusiness.company }} Yetkili Lİstesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section class="content">

        <div class="row">
            <section class="col-lg-12 ">
                <div class="card-body">


                    <div class="card card-primary card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">Yetkili Listesi</h3>
                            {% for item in perm %}
                                {% if item == 'add_yeka_user' %}

                                    <a href="{% url "ekabis:add_yeka_user" yekacompany.uuid %}"
                                       type="button" class="btn btn-outline-primary btn-sm" style="float: right"><i
                                            class="fa fa-plus" title="Yetkili Ekle"></i>
                                    </a>

                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="card-body">
                            <table id="company" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Kisi</th>
                                    <th>Aktiflik Durumu </th>
                                    <th>Başlangıç Tatihi </th>
                                    <th>Bitiş Tarihi </th>
                                    <th>Yetki Belgesi</th>
                                    <td>İşlemler</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% if company_user %}
                                    {% for item in company_user %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ item.user }}</td>
                                            <td>{{ item.is_active }}</td>
                                             <td> {{ item.startDate }} </th>
                                          <td> {{ item.finisDate }} </th>
                                            <td>{{ item.file }}</td>

                                            <td>
                                                <div class="btn-group">

                                                    <button type="button"
                                                            class="btn btn-default dropdown-toggle dropdown-icon"
                                                            data-toggle="dropdown"> İşlemler
                                                    </button>
                                                    <div class="dropdown-menu" role="menu">
                                                        {% for p in perm %}
                                                            {% if p == 'change_yeka_user' %}
                                                                <a href="{% url "ekabis:change_yeka_user" yekacompany.uuid item.uuid %}"
                                                                   class="dropdown-item"> <i
                                                                        class="fa fa-edit" title="Düzenle"></i> Düzenle
                                                                </a>
                                                            {% endif %}

                                                            {% if p == 'delete_yeka_user' %}

                                                                <a class="dropdown-item" href=""
                                                                   data-toggle="modal"
                                                                   onclick=deleteExtraTime('{{ item.uuid }}')><i
                                                                        class="fa fa-trash"></i>Sil</a>

                                                            {% endif %}
                                                        {% endfor %}


                                                    </div>
                                                </div>
                                            </td>

                                        </tr>

                                    {% endfor %}
                                {% endif %}


                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /.card -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>
    {% load  static %}
    <script>
        $(function () {
            $('#company').DataTable({
                dom: 'Bfrtip',


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'YEKA LİSTESİ',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet'
                    },


                ],
                "search": {
                    "caseInsensitive": true,
                },
                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
            })

        })
    </script>

    <script>  function deleteExtraTime(id) {
        debugger;
        console.log(id);
        var html = ''
        $("#modal-delete").on("shown.bs.modal", function (e) {
            $("#btn-conf1").click(function () {
                $.ajax({
                    url: "{% url "ekabis:delete_yeka_user" %}",
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': "{{  csrf_token  }}",
                        uuid: id,
                    },
                    success: function (result) {

                        html = 'Ek Süre Başarıyla Silindi';
                        debugger;
                        $(".successModal").html(html);
                        $('#modal-success').on("shown.bs.modal", function (e) {
                            $(".btn-ok").click(function () {

                                window.location.replace("{% url "ekabis:view_extratime" %}");

                            });

                        }).modal('show');

                        console.log(result.status)
                    }
                });
            });
        }).modal('show');
        $('#btn-close1').click(function () {
            $('#modal-active').modal('hide');
        });

    }</script>
{% endblock %}

